{% extends "page.html" %}

{# Vista base del dataset #}

{% set package = c.pkg %}
{% set pkg = c.pkg_dict %}
{% set tags_count=pkg.tags|length %}
{% if c.resource %}
  {% set formats=[c.resource.format] %}
  {% set formats_count=1 %}
{% else %}
  {% set formats=h.dict_list_reduce(pkg.resources, 'format') %}
  {% set formats_count=formats|length %}
{% endif %}
{% set groups_count=pkg.groups|length %}


{% block subtitle %}{{ pkg.title or pkg.name }}{% endblock %}

{% block toolbar_groups %}
<div class="facet groups">{% include 'snippets/facet_group.html'  %}</div> 
{% endblock %}

{% block actions_content %}
  {# NOTE: Not implemented in stage 1 #}
  {# <li>{% link_for _('History'), controller='package', action='history', id=pkg.name, class_='btn', icon='undo' %}</li> #}
  {% if h.check_access('package_update', {'id':pkg.id }) %}
    <li>{% link_for _('Edit'), controller='package', action='edit', id=pkg.name, class_='btn btn-primary', icon='wrench' %}</li>
  {% endif %}
  <li>{{ h.follow_button('dataset', pkg.id) }}</li>
{% endblock %}


{% block tagbox %}
  <div class="visible">
    {% for item in pkg.tags %}
    <a href="/dataset#tags=.{{item.name.replace(" ", "-")|lower}}" ckan-filter="tags" ckan-facet="{{item.name.replace(" ", "-")|lower}}" class="label">
      <span>{{item.display_name|lower}}</span> 
    </a>
    {% endfor %}
    {% for item in formats %}  
    <a href="/dataset#res_format=.{{item|lower}}" ckan-filter="res_format" ckan-facet="{{item|lower}}" class="label">
        <span>{{item|lower}}</span> 
      </a>
    {% endfor %}

    {% for item in pkg.groups %}
      <a href="/dataset#groups=.{{item.name|lower}}" ckan-filter="groups" ckan-facet="{{item.name}}" data-format="{{item.name|lower}}" class="label">
        <span>{{item.name|lower}}</span> 
      </a>
    {% endfor %}
  </div>
{% endblock %}

{% block toolbar_information %}
<p>
    <span class="selection" style="display: inline;">
      
      {% if tags_count > 0 %}
        <strong class="tags"><a href="/dataset#tags=.{{ pkg.tags|join('.', attribute='name')|lower }}" ckan-filter="tags">
          {{ tags_count }}
          {% if tags_count > 1%}tags{% else %}tag{% endif %}{% if formats_count > 0 %}{% if groups_count > 0 %},{% else %}y{% endif %}{% else %}{% if groups_count > 0 %}y{% endif %}{% endif %}
        </a></strong>
      {% endif %}
      {% if formats_count > 0 %}
        <strong class="res_format"><a href="/dataset#res_format=.{{formats|join('.')|lower}}" ckan-filter="res_format">
          {{ formats_count }}
          {% if formats_count > 1%}formatos{% else %}formato{% endif %}
          {% if groups_count > 0 %}y{% endif %}
        </a></strong>
      {% endif %}
      {% if groups_count > 0 %}
        <strong class="groups"><a href="/dataset#groups=.{{ pkg.groups|join('.', attribute='name')|lower }}" ckan-filter="groups">
          {{ groups_count }}
          {% if groups_count > 1%}grupos{% else %}grupo{% endif %}
        </a></strong>
      {% endif %}
    </span>
    <small style="display: inline;">Click para buscar por los mismos filtros.</small>
  </p>
{% endblock %}



{% block primary_content %}
<div class="content dataset">
    <!-- Page container -->
    <div class="page-container">
      <div class="row-fluid">
        <div class="span12">
      <h1 class="dataset-header">
        <a href="{{h.url_for(controller='package', action='read', id=pkg.name)}}">{{ pkg.title or pkg.name }}</a>
        {% if c.resource %}/
          <a href="{{h.url_for(controller='package', action='resource_read', id=pkg.name, resource_id=res.id)}}">
            {{  h.resource_display_name(res) }}
          </a>
          
        {% endif %}
        {% if pkg.state.startswith('draft') %}
            [{{ _('Draft') }}]
        {% endif %}

    {%if c.resource %}

      <span class="resource-item-view"><a class="btn btn-mini btn-resource" href="{{ res.url }}" target="_blank"><i class="icon-download"></i>
            {% if res.resource_type in ('listing', 'service') %} 
              {{ _('View') }}
            {% elif  res.resource_type == 'api' %}
              {{ _('API Endpoint') }}
            {% else %}
              {{ _('Download') }}
            {% endif %}
          </a>
      </span>

      {% endif %}

      </h1>


  {% block package_revision_info %}
    {% if c.pkg_revision_id %}
      <div class="module info">
        <p class="module-content">
          {% set timestamp = h.render_datetime(c.pkg_revision_timestamp, with_hours=True) %}
          {% set url =  h.url(controller='package', action='read', id=pkg.name) %}

          {% if c.pkg_revision_not_latest %}
            {% trans timestamp=timestamp, url=url %}This is an old revision of this dataset, as edited at {{ timestamp }}. It may differ significantly from the <a href="{{ url }}">current revision</a>.{% endtrans %}
          {% else %}
            {% trans timestamp=timestamp %}This is the current revision of this dataset, as edited at {{ timestamp }}.{% endtrans %}
          {% endif %}
        </p>
      </div>
    {% endif %}
  {% endblock %}

  </div>
  
      </div>
    {% block primary_content_inner %}{% endblock %}


     </div>
</div>
{% endblock %}

{% block secondary_content %}

{% endblock %}


{%- block scripts %}
{{ super() }}
<script type="text/javascript" >
$( document ).ready( function() {
  $('.facet.groups ul li a').tooltip();

});
</script>
{% endblock -%}