{% extends "page.html" %}

{# Vista base del dataset #}

{% set package = c.pkg %}
{% set pkg = c.pkg_dict %}
{% set tags_count=pkg.tags|length %}
{% if c.resource %}
  {% set formats=[c.resource.format] %}
  {% set formats_count=1 %}
{% else %}
  {% set formats=h.dict_list_reduce(pkg.resources, 'format') %}
  {% set formats_count=formats|length %}
{% endif %}
{% set groups_count=pkg.groups|length %}

{% block subtitle %}{{ pkg.title or pkg.name }}{% endblock %}

{% block actions %}
  {% if h.check_access('package_update', {'id':pkg.id }) %}
  <li>
    <ul>
      <li>
        {% link_for _('Edit'), controller='package', action='edit', id=pkg.name, class_='btn btn-primary', icon='wrench' %}
      </li>
    </ul>
  </li>
  {% endif %}

{% endblock %}

{% block flash %} 
{% if h.check_access('package_update', {'id':pkg.id }) %}
{{ super() }}  
{% endif %}
{% endblock %}

{% block info_toolbar %}
{% endblock %}

{% block primary_content %}
<div class="content dataset">
    <div class="page-container">
      {% block header_content %}
      <div class="row-fluid">
        <div class="span12">
          <h1 class="dataset-header">
            <a href="{{h.url_for(controller='package', action='read', id=pkg.name)}}">{{ pkg.title or pkg.name }}</a>
              {% if pkg.state.startswith('draft') %}
                [{{ _('Draft') }}]
              {% endif %}
          </h1>

          {% block package_revision_info %}
            {% if c.pkg_revision_id %}
              <div class="module info">
                <p class="module-content">
                  {% set timestamp = h.render_datetime(c.pkg_revision_timestamp, with_hours=True) %}
                  {% set url =  h.url(controller='package', action='read', id=pkg.name) %}

                  {% if c.pkg_revision_not_latest %}
                    {% trans timestamp=timestamp, url=url %}This is an old revision of this dataset, as edited at {{ timestamp }}. It may differ significantly from the <a href="{{ url }}">current revision</a>.{% endtrans %}
                  {% else %}
                    {% trans timestamp=timestamp %}This is the current revision of this dataset, as edited at {{ timestamp }}.{% endtrans %}
                  {% endif %}
                </p>
              </div>
            {% endif %}
          {% endblock %}

        </div>
        
      </div>
      {% endblock %}

    {% block primary_content_inner %}{% endblock %}
  </div>
</div>
{% endblock %}

{% block secondary_content %}
{% endblock %}

{%- block scripts %}
{{ super() }}
<script type="text/javascript" >
$( document ).ready( function() {
  $('.toolbar nav li.group span').tooltip();

});
</script>
{% endblock -%}