{% extends "page.html" %}

{% block subtitle %}{{ _("Search for a Dataset") }}{% endblock %}



{% block secondary_content %}

<div class="nav-secondary">
<nav>
  <ul>
    <li><a class="beat-me" href=""><span class="awe-large awe-signal"></span><span class="awe-group-text">Actividad Económica</span></a></li>
    <li><a class="beat-me" href=""><span class="awe-large awe-picture"></span><span class="awe-group-text">Administración Pública y Normativa</span></a></li>
    <li><a class="beat-me" href=""><span class="awe-large awe-envelope"></span><span class="awe-group-text">Arte, Cultura y Recreación</span></a></li>
    <li><a class="beat-me" href=""><span class="awe-large awe-calendar"></span><span class="awe-group-text">Educación</span></a></li>
    <li><a class="beat-me" href=""><span class="awe-large awe-th"></span><span class="awe-group-text">Infraestructura y Obras Públicas</span></a></li>
    <li><a class="beat-me" href=""><span class="awe-large awe-signal"></span><span class="awe-group-text">Medio Ambiente y Meteorología</span></a></li>
    <li><a class="beat-me" href=""><span class="awe-large awe-calendar"></span><span class="awe-group-text">Movilidad, Tráfico y Transporte</span></a></li>
    <li><a class="beat-me" href=""><span class="awe-large awe-lightbulb"></span><span class="awe-group-text">Salud y Servicios Sociales</span></a></li>
    <li><a class="beat-me" href=""><span class="awe-large awe-cloud-upload"></span><span class="awe-group-text">Seguridad y Justicia</span></a></li>
    <li><a class="beat-me" href=""><span class="awe-large awe-sitemap"></span><span class="awe-group-text">Urbanismo y Territorio</span></a></li>
  </ul>
</nav>
</div>

{# FACETADO DE GRUPOS #}






{% endblock %}

{% block primary_content %}

<div class="content">
  <!-- Page container -->
  <div class="page-header">
      <h1><span class="awe-sitemap"></span> Conjuntos de datos<small>Seleccioná por grupos, tags o formato.</small></h1>
    </div>
  <div class="page-container">
    



          
  {{ h.snippet('snippets/facet_list.html', title='Groups', name='groups') }}





  {{ h.snippet('snippets/facet_list.html', title='Tags', name='tags') }}
  {{ h.snippet('snippets/facet_list.html', title='Formats', name='res_format') }}


  <section class="module">
    <div class="module-content">
      <form id="dataset-search" class="dataset-search clearfix" method="get" data-module="select-switch">
        <span class="control-group search-giant">
          <input type="text" class="search" name="q" value="{{ c.q }}" autocomplete="off" placeholder="{{ _('Search...') }}" />
          <button type="submit" value="{{ _('Search') }}">Submit</button>
        </span>

        {{ h.snippet('snippets/sort_by.html', sort=c.sort_by_selected) }}
        <div id="dataset-search-ext"></div>
      </form>
      <div class="results">
        <strong>
            {{ _('All datasets') }}
        </strong>
     </div>
      {{ h.snippet('snippets/package_list.html', packages=c.page.items, list_class='datasets', item_class="dataset") }}
    </div>
  </section>


  </div>
  <!-- /Page container -->
</div>


{% endblock %}



{%- block scripts %}
<script type="text/javascript" src="js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="js/jquery.ba-bbq.min.js"></script>
<script type="text/javascript" src="js/search.js"></script>
{% endblock -%}

{%- block custom_styles %}
    {{ super() }}
    <link href="css/isotope.css" rel="stylesheet">
{% endblock %}