{% extends "page.html" %}

{% block subtitle %}{{ _("Search for a Dataset") }} - {% endblock %}

{% block actions_content %}
  <li class="facet tags">{% include 'snippets/facet_tags.html' %}</li>
  <li class="facet formats">{% include 'snippets/facet_formats.html' %}</li>
  <li class="facet sort">{% include 'snippets/facet_sort.html' %}</li>
{% endblock %}

{% block flash %} {% endblock %}

{% block tagbox %}
  <ul >
    <li class="fiso-selector" fiso-facet="groups">
      Grupos: 
      <span>
        <a class="fiso-example label" href="#"> <span class="close">x</span> </a>
        <a href="#" class="fiso-toggle-facet" data-toggle="tooltip" data-placement="top" title="" data-original-title="Cambiar operador" fiso-facet="groups"></a>
        <a href="#" class="fiso-clear-facet" data-toggle="tooltip" data-placement="top" title="" data-original-title="Limpiar filtro" fiso-facet="groups"></a>
       </span>
    </li>
    <li class="fiso-selector" fiso-facet="tags">
      Tags:
      <span>
        <a class="fiso-example label" href="#"> <span class="close">x</span> </a>
        <a href="#" class="fiso-toggle-facet" data-toggle="tooltip" data-placement="top" title="" data-original-title="Cambiar operador" fiso-facet="tags"></a>
        <a href="#" class="fiso-clear-facet" data-toggle="tooltip" data-placement="top" title="" data-original-title="Limpiar filtro" fiso-facet="tags"></a>
       </span>
    </li>
    <li class="fiso-selector" fiso-facet="res-format">
      Formatos:
      <span>
        <a class="fiso-example label" href="#"> <span class="close">x</span> </a>
        <a href="#" class="fiso-toggle-facet" data-toggle="tooltip" data-placement="top" title="" data-original-title="Cambiar operador" fiso-facet="res-format"></a>
        <a href="#" class="fiso-clear-facet" data-toggle="tooltip" data-placement="top" title="" data-original-title="Limpiar filtro" fiso-facet="res-format"></a>



       </span>
    </li>

    
  </ul>
{% endblock %}

{% block toolbar_information %}
<div> <span class="fiso-total-visible"></span> </div>
<div> Datasets </div>
<div><small><a href="#" fiso-facet="all" ckan-clear="true">Limpiar Filtros</a>.</small> </div>
{% endblock %}

{% block secondary_content %}


{% endblock %}

{% block primary_content %}
<div class="content">
                  <!-- Page container -->
                  <div class="page-container">
                  <div id="projects" class="row projects">
                  {{ h.snippet('snippets/package_list.html', packages=c.page.items, list_class='datasets', item_class="dataset") }}
                  </div>
                  </div>
  <!-- /Page container -->
</div>
{% endblock %}



{%- block scripts %}
{{ super() }}
<script type="text/javascript" src="/js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="/js/jquery.ba-bbq.min.js"></script>
<script type="text/javascript" src="/js/fisotope.js"></script>
<script type="text/javascript" src="/js/search.js"></script>
{% endblock -%}

{%- block custom_styles %}
    {{ super() }}
    <link href="css/isotope.css" rel="stylesheet">
{% endblock %}