{% extends "page.html" %}

{% block subtitle %}{{ _('About') }}{% endblock %}

{% block toolbar %}
  
{% endblock %}

{% block primary %}
<article class="about">
<h2>Buenos Aires Data</h2>
<p>Buenos Aires Data es el Catálogo de Datos del Gobierno de la Ciudad Autónoma de Buenos Aires, creado por decreto del Jefe de Gobierno y administrado por la Dirección General de Información y Gobierno Abierto, dependiente del Ministerio de Modernización.</p>    
<p>En pocas palabras, el objetivo del catálogo es facilitar al público interesado la búsqueda, el descubrimiento y el acceso a los conjuntos de datos públicos del Gobierno de la Ciudad, en formatos adecuados y bajo licencias de  uso que favorezcan su reutilización. De esta manera, los periodistas, académicos, organizaciones no gubernamentales, desarrolladores y ciudadanos en general pueden acceder a los datos para investigar, para seguir de cerca las actividades del Gobierno, o para desarrollar nuevos bienes, servicios y aplicaciones.</p>
<p><strong>Ponete en contacto con nosotros</strong></p>
<ul>
  <li><strong>Correo:</strong> <a href="mailto:data@buenosaires.gob.ar">data@buenosaires.gob.ar</a></li>
  <li><strong>Twitter:</strong> <a target="_blank" href="http://twitter.com/GCBAdata">@GCBAdata</a></li>
  <li><strong>Blog:</strong> <a target="_blank" href="http://gobiernoabierto.buenosaires.gob.ar">gobiernoabierto.buenosaires.gob.ar</a></li>
</ul>

</article>
{% endblock %}

{% block sidebar %}{% endblock %}
