{% extends "page.html" %}

{% block subtitle %}{{ _("Welcome") }}{% endblock %}




{%block fullbody %}
<div class="featured">
  <div class="container">
    <div class="row-fluid">
      <div class="span6">
        <h2>Un nueva versión de Buenos Aires Data.</h2>
        <ul>
          <li>Acceso programático via RESTful API a los conjuntos de datos.</li>
          <li>Visualización de los conjuntos de datos en formato de lista, gráficos y mapas interactivos.</li>
          <li>Agregamos formatos de datos nuevos.</li>
          <li>Incoporamos información geoespacial en formato GeoJSON.</li>
          <li>Nuevo modo de acceder y filtrar los datasets.</li>
        </ul>
      </div>
      <div class="span6"><img src="/img/home.png" alt="" class="home" /></div>
    </div>
  </div>
</div>
{% endblock %}

{% block primary_content %}
{% endblock %}


{% block secondary_content %}

<div class="row nav-home">
    <div class="span3 offset1">
      <a href="/dataset">
            <span aria-hidden="true" class="icon-dataset"></span>      
      </a>
      <h3>Datasets</h3>     
      <p>Conocé y reutilizá los datos generados por ciudad de Buenos Aires.</p>
    </div>
    <div class="span3">
      <a href="#">
            <span aria-hidden="true" class="icon-apps"></span>      
      </a>
      <h3>Aplicaciones</h3>
      <p>Aplicaciones creadas en base a datasets de nuestro catálogo.</p>
   </div>
    <div class="span3">
      <a href="#">
            <span aria-hidden="true" class="icon-labs"></span>      
      </a>
      <h3>Laboratorio</h3>
      <p>Prototipos, visualizaciones y proyectos open-source.</p>
    </div>
</div>

<div class="container news-feed">

  <p class="lead">Últimas novedades</p>
  <div class="news-item row-fluid dummy" style="display:none">
    <div class="span10 offset1">
      <div class="ribbon-wrapper"><div class="ribbon-type"></div></div>
      <div class="ribbon-wrapper"><div class="ribbon-date"></div></div>
        <h5></h5>
        <p></p>
    </div>
  </div>
  
  
</div>

<div class="container twitter">

  <div class="span6 offset2">
      <p></p>
      <span>@gcbadata</span>
    </div>
  </div>



</div>

{% endblock %}


{# Remove the toolbar. #}
{% block toolbar %}

<div id="feeds"> 

</div> 
{% endblock %}


{%- block scripts %}
{{ super() }}

  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript" src="http://data.buenosaires.gob.ar/js/jquery.gfeed.js"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript" src="https://raw.github.com/davidklaw/jquery-atom-feed-parser/master/public/js/vendor/jquery.jgfeed-min.js"></script>
<script type="text/javascript" >
$( document ).ready( function() {
  $.ajax({
    url: 'http://api.twitter.com/1/statuses/user_timeline/GCBAdata.json?count=1&include_rts=1',
      cache: false,
      dataType: "jsonp",
      success: function(data) {
        var tweet = data[0];
        $(".twitter p").html(tweet.text);
        //parsearResults(results);
      }
    });    
  $.jGFeed('http://digital.buenosaires.gob.ar/feed/',
  function(feeds){
    // Check for errors
    if(!feeds){
      // there was an error
      return false;
    }
    // do whatever you want with feeds here
    for(var i=0; i<feeds.entries.length; i++){
      var entry = feeds.entries[i];
      obj = $('.news-feed .news-item.dummy').clone().appendTo('.news-feed')
      obj.removeClass('dummy');
      obj.find('.ribbon-type').html(entry.categories[0]);
      obj.find('.ribbon-date').html(entry.publishedDate);
      obj.find('h5').html(entry.title);
      obj.find('p').html(entry.contentSnippet);
      obj.show();

      
      // entryy title
      entry.title;
    }
  }, 5);
});
</script>

{% endblock -%}