 {% extends "page.html" %}

{% block subtitle %}{{ _("Welcome") }}{% endblock %}


{% block flash %}

{% endblock %}

{% block fullbody %}


{# <div class="featured">
  <div class="container">
    <div class="row-fluid">
      <div class="span6">
        <h2>Un nueva versión de Buenos Aires Data.</h2>
        <ul>
          <li>Acceso programático via RESTful API a los conjuntos de datos.</li>
          <li>Visualización de los conjuntos de datos en formato de lista, gráficos y mapas interactivos.</li>
          <li>Agregamos formatos de datos nuevos.</li>
          <li>Incoporamos información geoespacial en formato GeoJSON.</li>
          <li>Nuevo modo de acceder y filtrar los datasets.</li>
        </ul>
      </div>
      <div class="span6"><img src="/img/home.png" alt="" class="home" /></div>
    </div>
  </div>
</div> #}


<!-- Carousel
================================================== -->
<div class="carousel slide">
  <div class="carousel-inner">

    <div class="item active feature-ckan">
      {# <img src="../assets/img/examples/slide-01.jpg" alt=""> #}
      <div class="container">
        <div class="carousel-caption">
          <h2>Un nueva versión de Buenos Aires Data.</h2>
          <ul>
          <li>Acceso programático via RESTful API a los conjuntos de datos.</li>
          <li>Visualización de los conjuntos de datos en formato de lista, gráficos y mapas interactivos.</li>
          <li>Agregamos formatos de datos nuevos.</li>
          <li>Incoporamos información geoespacial en formato GeoJSON.</li>
          <li>Nuevo modo de acceder y filtrar los datasets.</li>
        </ul>
        </div>
      </div>
    </div>
  </div>
{#   <a class="left carousel-control" href="#FirstCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#FirstCarousel" data-slide="next">&rsaquo;</a> #}
</div><!-- /.carousel -->


{% endblock %}

{% block primary_content %}
{% endblock %}


{% block secondary_content %}

<div class="row nav-home">
    <div class="span3 offset1">
      <a href="/dataset" class="dataset">
            <span aria-hidden="true" class="icon-dataset"></span>      
      </a>
      <h3>Datasets</h3>     
      <p>Conocé y reutilizá los datos generados por ciudad de Buenos Aires.</p>
    </div>
    <div class="span4">
      <a href="#" class="apps">
            <span aria-hidden="true" class="icon-apps"></span>      
      </a>
      <h3>Aplicaciones</h3>
      <p>Aplicaciones creadas en base a datasets de nuestro catálogo.</p>
   </div>
    <div class="span3">
      <a href="#" class="labs">
            <span aria-hidden="true" class="icon-labs"></span>      
      </a>
      <h3>Laboratorio</h3>
      <p>Prototipos, visualizaciones y proyectos open-source.</p>
    </div>
</div>

<div class="container ">
  <div class="row-fluid">
    <div class="span6 lista-datasets">
    {# Ultimos Datasets #}  
      <div class="container datasets-feed">
        <p class="lead">Últimos datasets</p>
          {{ h.snippet('snippets/package_list.html', packages=c.datasets, list_class='datasets', item_class="dataset") }}
      </div>
    </div>
    <div class="span6 lista-noticias">
    {# Ultimas noticias #}
      <div id="feed">
          <div class="container news-feed">
            <p class="lead">Últimas novedades</p>
            <div class="news-item dummy well" style="display:none">
               <div class="well-content">
                <h3></h3>
                <p></p>
               
                 <div class="label label-format ribbon-type"></div>
                 <div class="label label-date ribbon-date"></div>
              </div>
            </div>  
          </div>
      </div>    
    </div>
  </div>
</div>

{% endblock %}


{# Remove the toolbar. #}
{% block toolbar %}



{% endblock %}


{%- block scripts %}
{{ super() }}

  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript" src="http://data.buenosaires.gob.ar/js/jquery.gfeed.js"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript" src="https://raw.github.com/davidklaw/jquery-atom-feed-parser/master/public/js/vendor/jquery.jgfeed-min.js"></script>
<script type="text/javascript" >
$( document ).ready( function() {
  $.ajax({
    url: 'http://api.twitter.com/1/statuses/user_timeline/GCBAdata.json?count=1&include_rts=1',
      cache: false,
      dataType: "jsonp",
      success: function(data) {
        var tweet = data[0];
        $(".twitter p").html(tweet.text);
        //parsearResults(results);
      }
    });    
  $.jGFeed('http://digital.buenosaires.gob.ar/feed/',
  function(feeds){
    // Check for errors
    if(!feeds){
      // there was an error
      return false;
    }
    // do whatever you want with feeds here
    for(var i=0; i<feeds.entries.length; i++){
      var entry = feeds.entries[i];
      obj = $('.news-feed .news-item.dummy').clone().appendTo('.news-feed')
      obj.removeClass('dummy');
      obj.find('.ribbon-type').html(entry.categories[0]);
      var parsedDate = Date.parseExact(entry.publishedDate, "ddd, dd MMM yyyy hh:mm:ss zzz");
      obj.find('.ribbon-date').html(parsedDate.toString("dd/MM/yy"));
      obj.find('h3').html(entry.title);
      obj.find('p').html(entry.contentSnippet);
      obj.show();

      
      // entryy title
      entry.title;
    }
  }, 5);
});
</script>

{% endblock -%}