{% extends "page.html" %}

{% block subtitle %}{{ _("Welcome") }}{% endblock %}




{%block fullbody %}
<div class="featured">
  <div class="container">
    <div class="row-fluid">
      <div class="span8">
        <h2>Conocé la nueva versión de Buenos Aires Data.</h2>
        <ul>
          <li>Acceso programático via RESTful API a los conjuntos de datos.</li>
          <li>Visualización de los conjuntos de datos en formato de lista, gráficos y mapas interactivos.</li>
          <li>Agregamos formatos de datos nuevos.</li>
          <li>Incoporamos información geoespacial en formato GeoJSON.</li>
          <li>Nuevo modo de acceder y filtrar los datasets.</li>
        </ul>
      </div>
      <div class="span4"></div>
    </div>
  </div>
</div>
{% endblock %}

{% block primary_content %}
{% endblock %}


{% block secondary_content %}

<div class="container news-feed">
  <div class="row-fluid">
    <div class="span5 offset1">
        <h5>BAHackaton</h5>
        <p>Usá tu creatividad, cambiá la ciudad. <br>48hs. para pushear código sobre problemas reales.</p>
    </div>
    <div class="span5">
        <h5>Mejor en Bici</h5>
        <p>Agregamos formatos de datos nuevos.</p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span10 offset1"></div>
  </div>
</div>

{% endblock %}


{# Remove the toolbar. #}
{% block toolbar %}

<div id="feeds"> 

</div> 
{% endblock %}


{%- block scripts %}
{{ super() }}

  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript" src="http://data.buenosaires.gob.ar/js/jquery.gfeed.js"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript" src="https://raw.github.com/davidklaw/jquery-atom-feed-parser/master/public/js/vendor/jquery.jgfeed-min.js"></script>
<script type="text/javascript" >
$( document ).ready( function() {
  $.jGFeed('http://digital.buenosaires.gob.ar/feed/',
  function(feeds){
    // Check for errors
    if(!feeds){
      // there was an error
      return false;
    }
    // do whatever you want with feeds here
    for(var i=0; i<feeds.entries.length; i++){
      var entry = feeds.entries[i];
      // entryy title
      entry.title;
    }
  }, 10);
});
</script>

{% endblock -%}