html{-webkit-font-smoothing:antialiased}
::-webkit-scrollbar-thumb:vertical{width:10px;height:10px;background-color:#535353}
::-webkit-scrollbar{width:10px;height:5px;background:#000;margin-right:5px}
@font-face{font-family:'Gotham';src:url('/fonts/gotham.eot');src:url('/fonts/gotham.eot?#iefix') format('embedded-opentype'),url('/fonts/gotham.woff') format('woff'),url('/fonts/gotham.ttf') format('truetype'),url('/fonts/gotham.svg#Gotham-Medium') format('svg');font-weight:normal;font-style:normal}
body{color:#535353;font-family:"Gotham","Helvetica Neue","Helvetica",sans-serif}
a{color:#fff;text-decoration:underline}
a:hover,a:focus{color:#ffe200;text-decoration:none}
.gcba-fixed-top .container{width:940px}
#logo{width:201px;height:37px;background:url(/img/buenos-aires.png)}
.header-gcba{height:30px;padding:10px 0;overflow:visible;background-color:#f9dd00;*background-color:#f0d400;background-image:-o-linear-gradient(top,#ffe200,#f0d400);background-image:linear-gradient(top,#ffe200,#f0d400);background-image:-ms-linear-gradient(top,#ffe200,#f0d400);background-image:-webkit-linear-gradient(top,#ffe200,#f0d400);background-image:-webkit-gradient(linear,0 0,0 100%,from(#ffe200),to(#f0d400));background-image:-moz-linear-gradient(top,#ffe200,#f0d400);background-repeat:repeat-x;border-color:#f0d400 #f0d400 #a39100;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);filter:progid:dximagetransform.microsoft.gradient(enabled=false);filter:progid:dximagetransform.microsoft.gradient(startColorstr='#ffe200',endColorstr='#f0d400',GradientType=0);box-shadow:0 0 6px black}
.header-gcba:hover,.header-gcba:active,.header-gcba.active,.header-gcba.disabled,.header-gcba[disabled]{background-color:#f0d400;*background-color:#d6be00}
.header-gcba:active,.header-gcba.active{background-color:#bda700 \9}
.header-inner{padding-right:20px;padding-left:20px}
.header-gcba #logo{float:left;width:168px;height:30px;background:url(../img/logo.png)}
.header-gcba h2.slogan{float:right;margin-top:-4px;font-size:15px;letter-spacing:-1px}
.navbar{color:#535353;margin-bottom:0;overflow:visible}
.navbar-inner{min-height:40px;padding-right:20px;padding-left:20px;background-color:#313131;background-image:-moz-linear-gradient(top,#3c3c3c,#222);background-image:-ms-linear-gradient(top,#3c3c3c,#222);background-image:-webkit-gradient(linear,0 0,0 100%,from(#3c3c3c),to(#222));background-image:-webkit-linear-gradient(top,#3c3c3c,#222);background-image:-o-linear-gradient(top,#3c3c3c,#222);background-image:linear-gradient(top,#3c3c3c,#222);background-repeat:repeat-x;filter:progid:dximagetransform.microsoft.gradient(startColorstr='#3c3c3c',endColorstr='#222222',GradientType=0);-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);-moz-box-shadow:0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);box-shadow:0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1)}
.navbar-fixed-top .navbar-inner,.navbar-static-top .navbar-inner{border-width:0}
.navbar-inverse .brand,.navbar-inverse .nav>li>a{color:white;text-shadow:0 -1px 0 rgba(0,0,0,0.25);-webkit-transition:color .2s ease-in-out}
.navbar-inverse .brand:hover,.navbar-inverse .nav>li>a:hover,.navbar-inverse .brand:focus,.navbar-inverse .nav>li>a:focus{color:#ffe200}
.navbar .nav>li>a{padding:20px 10px}
.navbar1{color:black;line-height:50px;background-color:#f9dd00}
.navbar1 h3{line-height:50px}
.branding-data{padding-top:10px;padding-bottom:10px;background-color:black;display:block;vertical-align:middle;position:relative;height:95px;overflow:hidden}
.branding-data:hover{height:300px}
.branding-data h1{position:relative;color:white;padding-top:20px;font-size:45px;letter-spacing:-1px;line-height:16px;text-align:left;z-index:11}
.navbar-search{padding-top:15px}
.navbar-search .search-query,.navbar-search .search-query:focus,.navbar-search .search-query.focused{padding:15px 10px;font-size:15px;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
.branding-data .description{position:relative;z-index:11;margin-top:5px}
.branding-data h4{position:relative;padding-left:5px;font-weight:normal;font-size:11px;line-height:14px;display:block;heade color:white;padding-top:0;z-index:11}
.info-dataviz{margin-top:110px;background-color:rgba(255,255,255,0.1);display:block;position:relative;z-index:11;color:#b0b0b0;padding:5px 15px;border:1px solid #666}
.info-dataviz h5{font-size:14px;line-height:10px;color:#00ccbe}
.info-dataviz p{font-size:11px;line-height:13px;color:#cacaca}
.info-dataviz small{display:block;font-size:10px;clear:both;color:#f1ebeb}
.social{margin:0;padding:0;list-style:none;padding-top:10px}
.social li{float:left;margin-right:5px;margin-top:3px}
.social li a{display:block;padding:8px;text-decoration:none;color:white;-webkit-transition:color .2s ease-in-out}
.social li a:hover{color:#ffe200}
.navbar3{background-color:#222;text-transform:uppercase}
textarea:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="date"]:focus,input[type="month"]:focus,input[type="time"]:focus,input[type="week"]:focus,input[type="number"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="color"]:focus,.uneditable-input:focus,.navbar-search .search-query:focus,.navbar-search .search-query.focused{border-color:rgba(255,213,15,0.8);outline:0;outline:thin dotted \9;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,213,15,0.6);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,213,15,0.6);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,213,15,0.6)}
[role=main] .primary{float:none;margin-left:0;width:100%}
[role=main] .secondary{width:100%;margin-left:0;float:none}
.primary>:last-child,.secondary>:last-child{margin-bottom:0}
.hero{background:url("../../../base/images/background-tile.png")}
.hero:after{background-color:rgba(0,0,0,0.09);background-image:-moz-linear-gradient(top,rgba(0,0,0,0.15),rgba(0,0,0,0));background-image:-ms-linear-gradient(top,rgba(0,0,0,0.15),rgba(0,0,0,0));background-image:-webkit-gradient(linear,0 0,0 100%,from(rgba(0,0,0,0.15)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(top,rgba(0,0,0,0.15),rgba(0,0,0,0));background-image:-o-linear-gradient(top,rgba(0,0,0,0.15),rgba(0,0,0,0));background-image:linear-gradient(top,rgba(0,0,0,0.15),rgba(0,0,0,0));background-repeat:repeat-x;background-color:transparent;top:7px;bottom:auto;height:5px}
select,textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],.uneditable-input{height:auto!important}
a:hover {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* Secondary navigation */
.nav-secondary {
  margin-bottom: 20px;
  margin-top: -10px;
  padding-bottom: 25px;
}
.nav-secondary ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 12px;
  *zoom: 1;
}
.nav-secondary ul:before,
.nav-secondary ul:after {
  display: table;
  content: "";
  line-height: 0;
}
.nav-secondary ul:after {
  clear: both;
}
.nav-secondary li {
  float: left;
  display: block;
  position: relative;
  margin-right: 10px;
  margin-top: 10px;
}
.nav-secondary li:last-child {
  margin-right: 0;
}
.nav-secondary li .badge {
  position: absolute;
  top: -5px;
  right: -8px;
}
.nav-secondary a {
  display: block;
  text-align: center;
  padding: 5px;
  background-color: #f3f3f3;
  color: #949599;
  width: 90px;
  height: 90px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  text-decoration: none;

}
.nav-secondary a span {
  display: block;
  font-size: 26px;
  font-weight: normal;
  line-height: normal;
  margin: 27px auto 0;
}
.nav-secondary a:hover,
.nav-secondary .active a {
  text-decoration: none;
  background-color: #33363b;
  color: #ffffff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.awe-group-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.nav-secondary.inverse a {
  background-color: #33363b;
  color: #ffffff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
.nav-secondary.inverse a:hover,
.nav-secondary.inverse .active a {
  background-color: #f3f3f3;
  color: #949599;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

.beat-me {
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 -3px 0 rgba(0, 0, 0, 0.13) inset, 0 0 10px rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 -3px 0 rgba(0, 0, 0, 0.13) inset, 0 0 10px rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 -3px 0 rgba(0, 0, 0, 0.13) inset, 0 0 10px rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.5);
}

/*  Font Awesome styles
    ------------------------------------------------------- */
[class^="awe-"],
[class*=" awe-"] {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  /* sprites.less reset */

  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0;
}
/* more sprites.less reset */
.awe-white,
.nav-pills > .active > a > [class^="awe-"],
.nav-pills > .active > a > [class*=" awe-"],
.nav-list > .active > a > [class^="awe-"],
.nav-list > .active > a > [class*=" awe-"],
.navbar-inverse .nav > .active > a > [class^="awe-"],
.navbar-inverse .nav > .active > a > [class*=" awe-"],
.dropdown-menu > li > a:hover > [class^="awe-"],
.dropdown-menu > li > a:hover > [class*=" awe-"],
.dropdown-menu > .active > a > [class^="awe-"],
.dropdown-menu > .active > a > [class*=" awe-"],
.dropdown-submenu:hover > a > [class^="awe-"],
.dropdown-submenu:hover > a > [class*=" awe-"] {
  background-image: none;
}
[class^="awe-"]:before,
[class*=" awe-"]:before {
  text-decoration: inherit;
  display: inline-block;
  speak: none;
}
/* makes sure icons active on rollover in links */
a [class^="awe-"],
a [class*=" awe-"] {
  display: inline-block;
}
/* makes the font 33% larger relative to the icon container */
.awe-large:before {
  vertical-align: -10%;
  font-size: 1.3333333333333333em;
}
.btn [class^="awe-"],
.nav [class^="awe-"],
.btn [class*=" awe-"],
.nav [class*=" awe-"] {
  display: inline;
  /* keeps button heights with and without icons the same */

}
.btn [class^="awe-"].awe-large,
.nav [class^="awe-"].awe-large,
.btn [class*=" awe-"].awe-large,
.nav [class*=" awe-"].awe-large {
  line-height: .9em;
}
.btn [class^="awe-"].awe-spin,
.nav [class^="awe-"].awe-spin,
.btn [class*=" awe-"].awe-spin,
.nav [class*=" awe-"].awe-spin {
  display: inline-block;
}
.nav-tabs [class^="awe-"],
.nav-pills [class^="awe-"],
.nav-tabs [class*=" awe-"],
.nav-pills [class*=" awe-"] {
  /* keeps button heights with and without icons the same */

}
.nav-tabs [class^="awe-"],
.nav-pills [class^="awe-"],
.nav-tabs [class*=" awe-"],
.nav-pills [class*=" awe-"],
.nav-tabs [class^="awe-"].awe-large,
.nav-pills [class^="awe-"].awe-large,
.nav-tabs [class*=" awe-"].awe-large,
.nav-pills [class*=" awe-"].awe-large {
  line-height: .9em;
}
li [class^="awe-"],
.nav li [class^="awe-"],
li [class*=" awe-"],
.nav li [class*=" awe-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}
li [class^="awe-"].awe-large,
.nav li [class^="awe-"].awe-large,
li [class*=" awe-"].awe-large,
.nav li [class*=" awe-"].awe-large {
  /* increased font size for awe-large */

  width: 1.5625em;
}
ul.icons {
  list-style-type: none;
  text-indent: -0.75em;
}
ul.icons li [class^="awe-"],
ul.icons li [class*=" awe-"] {
  width: .75em;
}
.awe-muted {
  color: #eeeeee;
}
.awe-border {
  border: solid 1px #eeeeee;
  padding: .2em .25em .15em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.awe-2x {
  font-size: 2em;
}
.awe-2x.awe-border {
  border-width: 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.awe-3x {
  font-size: 3em;
}
.awe-3x.awe-border {
  border-width: 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.awe-4x {
  font-size: 4em;
}
.awe-4x.awe-border {
  border-width: 4px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
[class^="awe-"].pull-left,
[class*=" awe-"].pull-left {
  margin-right: .3em;
}
[class^="awe-"].pull-right,
[class*=" awe-"].pull-right {
  margin-left: .3em;
}
.btn [class^="awe-"].pull-left.awe-2x,
.btn [class*=" awe-"].pull-left.awe-2x,
.btn [class^="awe-"].pull-right.awe-2x,
.btn [class*=" awe-"].pull-right.awe-2x {
  margin-top: .18em;
}
.btn [class^="awe-"].awe-spin.awe-large,
.btn [class*=" awe-"].awe-spin.awe-large {
  line-height: .8em;
}
.btn.btn-small [class^="awe-"].pull-left.awe-2x,
.btn.btn-small [class*=" awe-"].pull-left.awe-2x,
.btn.btn-small [class^="awe-"].pull-right.awe-2x,
.btn.btn-small [class*=" awe-"].pull-right.awe-2x {
  margin-top: .25em;
}
.btn.btn-large [class^="awe-"],
.btn.btn-large [class*=" awe-"] {
  margin-top: 0;
}
.btn.btn-large [class^="awe-"].pull-left.awe-2x,
.btn.btn-large [class*=" awe-"].pull-left.awe-2x,
.btn.btn-large [class^="awe-"].pull-right.awe-2x,
.btn.btn-large [class*=" awe-"].pull-right.awe-2x {
  margin-top: .05em;
}
.btn.btn-large [class^="awe-"].pull-left.awe-2x,
.btn.btn-large [class*=" awe-"].pull-left.awe-2x {
  margin-right: .2em;
}
.btn.btn-large [class^="awe-"].pull-right.awe-2x,
.btn.btn-large [class*=" awe-"].pull-right.awe-2x {
  margin-left: .2em;
}
.awe-spin {
  display: inline-block;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
@-moz-document url-prefix() {
  .awe-spin {
    height: .9em;
  }
  .btn .awe-spin {
    height: auto;
  }
  .awe-spin.awe-large {
    height: 1.25em;
  }
  .btn .awe-spin.awe-large {
    height: .75em;
  }
}
/*  Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
    readers do not read off random characters that represent icons */
.awe-glass:before {
  content: "\f000";
}
.awe-music:before {
  content: "\f001";
}
.awe-search:before {
  content: "\f002";
}
.awe-envelope:before {
  content: "\f003";
}
.awe-heart:before {
  content: "\f004";
}
.awe-star:before {
  content: "\f005";
}
.awe-star-empty:before {
  content: "\f006";
}
.awe-user:before {
  content: "\f007";
}
.awe-film:before {
  content: "\f008";
}
.awe-th-large:before {
  content: "\f009";
}
.awe-th:before {
  content: "\f00a";
}
.awe-th-list:before {
  content: "\f00b";
}
.awe-ok:before {
  content: "\f00c";
}
.awe-remove:before {
  content: "\f00d";
}
.awe-zoom-in:before {
  content: "\f00e";
}
.awe-zoom-out:before {
  content: "\f010";
}
.awe-off:before {
  content: "\f011";
}
.awe-signal:before {
  content: "\f012";
}
.awe-cog:before {
  content: "\f013";
}
.awe-trash:before {
  content: "\f014";
}
.awe-home:before {
  content: "\f015";
}
.awe-file:before {
  content: "\f016";
}
.awe-time:before {
  content: "\f017";
}
.awe-road:before {
  content: "\f018";
}
.awe-download-alt:before {
  content: "\f019";
}
.awe-download:before {
  content: "\f01a";
}
.awe-upload:before {
  content: "\f01b";
}
.awe-inbox:before {
  content: "\f01c";
}
.awe-play-circle:before {
  content: "\f01d";
}
.awe-repeat:before {
  content: "\f01e";
}
/* \f020 doesn't work in Safari. all shifted one down */
.awe-refresh:before {
  content: "\f021";
}
.awe-list-alt:before {
  content: "\f022";
}
.awe-lock:before {
  content: "\f023";
}
.awe-flag:before {
  content: "\f024";
}
.awe-headphones:before {
  content: "\f025";
}
.awe-volume-off:before {
  content: "\f026";
}
.awe-volume-down:before {
  content: "\f027";
}
.awe-volume-up:before {
  content: "\f028";
}
.awe-qrcode:before {
  content: "\f029";
}
.awe-barcode:before {
  content: "\f02a";
}
.awe-tag:before {
  content: "\f02b";
}
.awe-tags:before {
  content: "\f02c";
}
.awe-book:before {
  content: "\f02d";
}
.awe-bookmark:before {
  content: "\f02e";
}
.awe-print:before {
  content: "\f02f";
}
.awe-camera:before {
  content: "\f030";
}
.awe-font:before {
  content: "\f031";
}
.awe-bold:before {
  content: "\f032";
}
.awe-italic:before {
  content: "\f033";
}
.awe-text-height:before {
  content: "\f034";
}
.awe-text-width:before {
  content: "\f035";
}
.awe-align-left:before {
  content: "\f036";
}
.awe-align-center:before {
  content: "\f037";
}
.awe-align-right:before {
  content: "\f038";
}
.awe-align-justify:before {
  content: "\f039";
}
.awe-list:before {
  content: "\f03a";
}
.awe-indent-left:before {
  content: "\f03b";
}
.awe-indent-right:before {
  content: "\f03c";
}
.awe-facetime-video:before {
  content: "\f03d";
}
.awe-picture:before {
  content: "\f03e";
}
.awe-pencil:before {
  content: "\f040";
}
.awe-map-marker:before {
  content: "\f041";
}
.awe-adjust:before {
  content: "\f042";
}
.awe-tint:before {
  content: "\f043";
}
.awe-edit:before {
  content: "\f044";
}
.awe-share:before {
  content: "\f045";
}
.awe-check:before {
  content: "\f046";
}
.awe-move:before {
  content: "\f047";
}
.awe-step-backward:before {
  content: "\f048";
}
.awe-fast-backward:before {
  content: "\f049";
}
.awe-backward:before {
  content: "\f04a";
}
.awe-play:before {
  content: "\f04b";
}
.awe-pause:before {
  content: "\f04c";
}
.awe-stop:before {
  content: "\f04d";
}
.awe-forward:before {
  content: "\f04e";
}
.awe-fast-forward:before {
  content: "\f050";
}
.awe-step-forward:before {
  content: "\f051";
}
.awe-eject:before {
  content: "\f052";
}
.awe-chevron-left:before {
  content: "\f053";
}
.awe-chevron-right:before {
  content: "\f054";
}
.awe-plus-sign:before {
  content: "\f055";
}
.awe-minus-sign:before {
  content: "\f056";
}
.awe-remove-sign:before {
  content: "\f057";
}
.awe-ok-sign:before {
  content: "\f058";
}
.awe-question-sign:before {
  content: "\f059";
}
.awe-info-sign:before {
  content: "\f05a";
}
.awe-screenshot:before {
  content: "\f05b";
}
.awe-remove-circle:before {
  content: "\f05c";
}
.awe-ok-circle:before {
  content: "\f05d";
}
.awe-ban-circle:before {
  content: "\f05e";
}
.awe-arrow-left:before {
  content: "\f060";
}
.awe-arrow-right:before {
  content: "\f061";
}
.awe-arrow-up:before {
  content: "\f062";
}
.awe-arrow-down:before {
  content: "\f063";
}
.awe-share-alt:before {
  content: "\f064";
}
.awe-resize-full:before {
  content: "\f065";
}
.awe-resize-small:before {
  content: "\f066";
}
.awe-plus:before {
  content: "\f067";
}
.awe-minus:before {
  content: "\f068";
}
.awe-asterisk:before {
  content: "\f069";
}
.awe-exclamation-sign:before {
  content: "\f06a";
}
.awe-gift:before {
  content: "\f06b";
}
.awe-leaf:before {
  content: "\f06c";
}
.awe-fire:before {
  content: "\f06d";
}
.awe-eye-open:before {
  content: "\f06e";
}
.awe-eye-close:before {
  content: "\f070";
}
.awe-warning-sign:before {
  content: "\f071";
}
.awe-plane:before {
  content: "\f072";
}
.awe-calendar:before {
  content: "\f073";
}
.awe-random:before {
  content: "\f074";
}
.awe-comment:before {
  content: "\f075";
}
.awe-magnet:before {
  content: "\f076";
}
.awe-chevron-up:before {
  content: "\f077";
}
.awe-chevron-down:before {
  content: "\f078";
}
.awe-retweet:before {
  content: "\f079";
}
.awe-shopping-cart:before {
  content: "\f07a";
}
.awe-folder-close:before {
  content: "\f07b";
}
.awe-folder-open:before {
  content: "\f07c";
}
.awe-resize-vertical:before {
  content: "\f07d";
}
.awe-resize-horizontal:before {
  content: "\f07e";
}
.awe-bar-chart:before {
  content: "\f080";
}
.awe-twitter-sign:before {
  content: "\f081";
}
.awe-facebook-sign:before {
  content: "\f082";
}
.awe-camera-retro:before {
  content: "\f083";
}
.awe-key:before {
  content: "\f084";
}
.awe-cogs:before {
  content: "\f085";
}
.awe-comments:before {
  content: "\f086";
}
.awe-thumbs-up:before {
  content: "\f087";
}
.awe-thumbs-down:before {
  content: "\f088";
}
.awe-star-half:before {
  content: "\f089";
}
.awe-heart-empty:before {
  content: "\f08a";
}
.awe-signout:before {
  content: "\f08b";
}
.awe-linkedin-sign:before {
  content: "\f08c";
}
.awe-pushpin:before {
  content: "\f08d";
}
.awe-external-link:before {
  content: "\f08e";
}
.awe-signin:before {
  content: "\f090";
}
.awe-trophy:before {
  content: "\f091";
}
.awe-github-sign:before {
  content: "\f092";
}
.awe-upload-alt:before {
  content: "\f093";
}
.awe-lemon:before {
  content: "\f094";
}
.awe-phone:before {
  content: "\f095";
}
.awe-check-empty:before {
  content: "\f096";
}
.awe-bookmark-empty:before {
  content: "\f097";
}
.awe-phone-sign:before {
  content: "\f098";
}
.awe-twitter:before {
  content: "\f099";
}
.awe-facebook:before {
  content: "\f09a";
}
.awe-github:before {
  content: "\f09b";
}
.awe-unlock:before {
  content: "\f09c";
}
.awe-credit-card:before {
  content: "\f09d";
}
.awe-rss:before {
  content: "\f09e";
}
.awe-hdd:before {
  content: "\f0a0";
}
.awe-bullhorn:before {
  content: "\f0a1";
}
.awe-bell:before {
  content: "\f0a2";
}
.awe-certificate:before {
  content: "\f0a3";
}
.awe-hand-right:before {
  content: "\f0a4";
}
.awe-hand-left:before {
  content: "\f0a5";
}
.awe-hand-up:before {
  content: "\f0a6";
}
.awe-hand-down:before {
  content: "\f0a7";
}
.awe-circle-arrow-left:before {
  content: "\f0a8";
}
.awe-circle-arrow-right:before {
  content: "\f0a9";
}
.awe-circle-arrow-up:before {
  content: "\f0aa";
}
.awe-circle-arrow-down:before {
  content: "\f0ab";
}
.awe-globe:before {
  content: "\f0ac";
}
.awe-wrench:before {
  content: "\f0ad";
}
.awe-tasks:before {
  content: "\f0ae";
}
.awe-filter:before {
  content: "\f0b0";
}
.awe-briefcase:before {
  content: "\f0b1";
}
.awe-fullscreen:before {
  content: "\f0b2";
}
.awe-group:before {
  content: "\f0c0";
}
.awe-link:before {
  content: "\f0c1";
}
.awe-cloud:before {
  content: "\f0c2";
}
.awe-beaker:before {
  content: "\f0c3";
}
.awe-cut:before {
  content: "\f0c4";
}
.awe-copy:before {
  content: "\f0c5";
}
.awe-paper-clip:before {
  content: "\f0c6";
}
.awe-save:before {
  content: "\f0c7";
}
.awe-sign-blank:before {
  content: "\f0c8";
}
.awe-reorder:before {
  content: "\f0c9";
}
.awe-list-ul:before {
  content: "\f0ca";
}
.awe-list-ol:before {
  content: "\f0cb";
}
.awe-strikethrough:before {
  content: "\f0cc";
}
.awe-underline:before {
  content: "\f0cd";
}
.awe-table:before {
  content: "\f0ce";
}
.awe-magic:before {
  content: "\f0d0";
}
.awe-truck:before {
  content: "\f0d1";
}
.awe-pinterest:before {
  content: "\f0d2";
}
.awe-pinterest-sign:before {
  content: "\f0d3";
}
.awe-google-plus-sign:before {
  content: "\f0d4";
}
.awe-google-plus:before {
  content: "\f0d5";
}
.awe-money:before {
  content: "\f0d6";
}
.awe-caret-down:before {
  content: "\f0d7";
}
.awe-caret-up:before {
  content: "\f0d8";
}
.awe-caret-left:before {
  content: "\f0d9";
}
.awe-caret-right:before {
  content: "\f0da";
}
.awe-columns:before {
  content: "\f0db";
}
.awe-sort:before {
  content: "\f0dc";
}
.awe-sort-down:before {
  content: "\f0dd";
}
.awe-sort-up:before {
  content: "\f0de";
}
.awe-envelope-alt:before {
  content: "\f0e0";
}
.awe-linkedin:before {
  content: "\f0e1";
}
.awe-undo:before {
  content: "\f0e2";
}
.awe-legal:before {
  content: "\f0e3";
}
.awe-dashboard:before {
  content: "\f0e4";
}
.awe-comment-alt:before {
  content: "\f0e5";
}
.awe-comments-alt:before {
  content: "\f0e6";
}
.awe-bolt:before {
  content: "\f0e7";
}
.awe-sitemap:before {
  content: "\f0e8";
}
.awe-umbrella:before {
  content: "\f0e9";
}
.awe-paste:before {
  content: "\f0ea";
}
.awe-lightbulb:before {
  content: "\f0eb";
}
.awe-exchange:before {
  content: "\f0ec";
}
.awe-cloud-download:before {
  content: "\f0ed";
}
.awe-cloud-upload:before {
  content: "\f0ee";
}
.awe-user-md:before {
  content: "\f0f0";
}
.awe-stethoscope:before {
  content: "\f0f1";
}
.awe-suitcase:before {
  content: "\f0f2";
}
.awe-bell-alt:before {
  content: "\f0f3";
}
.awe-coffee:before {
  content: "\f0f4";
}
.awe-food:before {
  content: "\f0f5";
}
.awe-file-alt:before {
  content: "\f0f6";
}
.awe-building:before {
  content: "\f0f7";
}
.awe-hospital:before {
  content: "\f0f8";
}
.awe-ambulance:before {
  content: "\f0f9";
}
.awe-medkit:before {
  content: "\f0fa";
}
.awe-fighter-jet:before {
  content: "\f0fb";
}
.awe-beer:before {
  content: "\f0fc";
}
.awe-h-sign:before {
  content: "\f0fd";
}
.awe-plus-sign-alt:before {
  content: "\f0fe";
}
.awe-double-angle-left:before {
  content: "\f100";
}
.awe-double-angle-right:before {
  content: "\f101";
}
.awe-double-angle-up:before {
  content: "\f102";
}
.awe-double-angle-down:before {
  content: "\f103";
}
.awe-angle-left:before {
  content: "\f104";
}
.awe-angle-right:before {
  content: "\f105";
}
.awe-angle-up:before {
  content: "\f106";
}
.awe-angle-down:before {
  content: "\f107";
}
.awe-desktop:before {
  content: "\f108";
}
.awe-laptop:before {
  content: "\f109";
}
.awe-tablet:before {
  content: "\f10a";
}
.awe-mobile-phone:before {
  content: "\f10b";
}
.awe-circle-blank:before {
  content: "\f10c";
}
.awe-quote-left:before {
  content: "\f10d";
}
.awe-quote-right:before {
  content: "\f10e";
}
.awe-spinner:before {
  content: "\f110";
}
.awe-circle:before {
  content: "\f111";
}
.awe-reply:before {
  content: "\f112";
}
.awe-github-alt:before {
  content: "\f113";
}
.awe-folder-close-alt:before {
  content: "\f114";
}
.awe-folder-open-alt:before {
  content: "\f115";
}

/* Main content container */
.content {
  margin: 0 -1px;
  background-color: #fdfdfd;
  background-image: url("../img/bg_content.jpg");
  background-repeat: repeat;
  border: 1px solid #e0e0e0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.content + * {
  margin-top: 30px;
}
.content .page-container {
  margin: 30px 30px 10px;
}
.content .page-container.page-container {
  overflow: visible;
}
.content .page-container [class*="span"] {
  margin-bottom: 20px;
}
.content .page-container [class*="span"] [class*="span"] {
  margin-bottom: 0;
}
.content .page-container .row,
.content .page-container .thumbnails {
  margin-left: -20px;
}
.content .page-container .row .row,
.content .page-container .thumbnails .row {
  margin-left: -20px;
  *zoom: 1;
}
.content .page-container .row .row:before,
.content .page-container .thumbnails .row:before,
.content .page-container .row .row:after,
.content .page-container .thumbnails .row:after {
  display: table;
  content: "";
  line-height: 0;
}
.content .page-container .row .row:after,
.content .page-container .thumbnails .row:after {
  clear: both;
}
.content .page-container .row [class*="span"],
.content .page-container .thumbnails [class*="span"] {
  float: left;
  min-height: 1px;
  margin-left: 20px;
}
.content .page-container .row .container,
.content .page-container .thumbnails .container,
.content .page-container .row .navbar-static-top .container,
.content .page-container .thumbnails .navbar-static-top .container,
.content .page-container .row .navbar-fixed-top .container,
.content .page-container .thumbnails .navbar-fixed-top .container,
.content .page-container .row .navbar-fixed-bottom .container,
.content .page-container .thumbnails .navbar-fixed-bottom .container {
  width: 880px;
}
.content .page-container .row .span12,
.content .page-container .thumbnails .span12 {
  width: 880px;
}
.content .page-container .row .span11,
.content .page-container .thumbnails .span11 {
  width: 805px;
}
.content .page-container .row .span10,
.content .page-container .thumbnails .span10 {
  width: 730px;
}
.content .page-container .row .span9,
.content .page-container .thumbnails .span9 {
  width: 655px;
}
.content .page-container .row .span8,
.content .page-container .thumbnails .span8 {
  width: 580px;
}
.content .page-container .row .span7,
.content .page-container .thumbnails .span7 {
  width: 505px;
}
.content .page-container .row .span6,
.content .page-container .thumbnails .span6 {
  width: 430px;
}
.content .page-container .row .span5,
.content .page-container .thumbnails .span5 {
  width: 355px;
}
.content .page-container .row .span4,
.content .page-container .thumbnails .span4 {
  width: 280px;
}
.content .page-container .row .span3,
.content .page-container .thumbnails .span3 {
  width: 205px;
}
.content .page-container .row .span2,
.content .page-container .thumbnails .span2 {
  width: 130px;
}
.content .page-container .row .span1,
.content .page-container .thumbnails .span1 {
  width: 55px;
}
.content .page-container .row .offset12,
.content .page-container .thumbnails .offset12 {
  margin-left: 920px;
}
.content .page-container .row .offset11,
.content .page-container .thumbnails .offset11 {
  margin-left: 845px;
}
.content .page-container .row .offset10,
.content .page-container .thumbnails .offset10 {
  margin-left: 770px;
}
.content .page-container .row .offset9,
.content .page-container .thumbnails .offset9 {
  margin-left: 695px;
}
.content .page-container .row .offset8,
.content .page-container .thumbnails .offset8 {
  margin-left: 620px;
}
.content .page-container .row .offset7,
.content .page-container .thumbnails .offset7 {
  margin-left: 545px;
}
.content .page-container .row .offset6,
.content .page-container .thumbnails .offset6 {
  margin-left: 470px;
}
.content .page-container .row .offset5,
.content .page-container .thumbnails .offset5 {
  margin-left: 395px;
}
.content .page-container .row .offset4,
.content .page-container .thumbnails .offset4 {
  margin-left: 320px;
}
.content .page-container .row .offset3,
.content .page-container .thumbnails .offset3 {
  margin-left: 245px;
}
.content .page-container .row .offset2,
.content .page-container .thumbnails .offset2 {
  margin-left: 170px;
}
.content .page-container .row .offset1,
.content .page-container .thumbnails .offset1 {
  margin-left: 95px;
}
/* Containers */
.content .page-header {
  margin: 0;
  padding: 20px 30px;
  background-color: #fdfdfd;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  *zoom: 1;
}
.content .page-header:before,
.content .page-header:after {
  display: table;
  content: "";
  line-height: 0;
}
.content .page-header:after {
  clear: both;
}
.content .page-header h1 {
  line-height: 36px;
  float: left;
  margin: 0;
}
.content .page-header .page-header-actions {
  list-style: none;
  margin: 0;
  float: right;
  *zoom: 1;
}
.content .page-header .page-header-actions:before,
.content .page-header .page-header-actions:after {
  display: table;
  content: "";
  line-height: 0;
}
.content .page-header .page-header-actions:after {
  clear: both;
}
.content .page-header .page-header-actions li {
  display: block;
  float: left;
  margin-right: 5px;
}
.content .page-header .page-header-actions li:last-child {
  margin-right: 0;
}
.content .page-header .page-header-actions li.active .btn-wuxia.btn {
  background-color: #33363b;
  color: #ffffff;
}
.content .page-header .loading {
  float: right;
}
/* Typography */
.content .well {
  background-color: #f6f6f6;
  border: 1px solid #e0e0e0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.content .label {
  padding: 1px 4px;
}
.content .badge {
  padding: 1px 9px;
}
.content .center h2,
.content .center h3,
.content .center h4,
.content .center h5,
.content .center h6,
.content .center p {
  text-align: center;
}
.content .lead {
  color: #525252;
}
.content .hero-unit {
  margin-bottom: 0;
}