html{-webkit-font-smoothing:antialiased}
::-webkit-scrollbar-thumb:vertical{width:10px;height:10px;background-color:#535353}
::-webkit-scrollbar{width:10px;height:5px;background:#000;margin-right:5px}
@font-face{font-family:'Gotham';src:url('/fonts/gotham.eot');src:url('/fonts/gotham.eot?#iefix') format('embedded-opentype'),url('/fonts/gotham.woff') format('woff'),url('/fonts/gotham.ttf') format('truetype'),url('/fonts/gotham.svg#Gotham-Medium') format('svg');font-weight:normal;font-style:normal}

@font-face {
  font-family: 'icomoon';
  src:url('/fonts/icomoon.eot');
  src:url('/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.woff') format('woff'),
    url('/fonts/icomoon.ttf') format('truetype'),
    url('/fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}


body{color:#535353;font-family:"Gotham", "Helvetica Neue","Helvetica", sans-serif}
a{color:#fff;text-decoration:underline}
a:hover,a:focus{color:#ffe200;text-decoration:none}
.gcba-fixed-top .container{width:940px}
#logo{width:201px;height:37px;background:url(/img/buenos-aires.png)}
.header-gcba{height:30px;padding:10px 0;overflow:visible;background-color:#f9dd00;*background-color:#f0d400;background-image:-o-linear-gradient(top,#ffe200,#f0d400);background-image:linear-gradient(top,#ffe200,#f0d400);background-image:-ms-linear-gradient(top,#ffe200,#f0d400);background-image:-webkit-linear-gradient(top,#ffe200,#f0d400);background-image:-webkit-gradient(linear,0 0,0 100%,from(#ffe200),to(#f0d400));background-image:-moz-linear-gradient(top,#ffe200,#f0d400);background-repeat:repeat-x;border-color:#f0d400 #f0d400 #a39100;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);filter:progid:dximagetransform.microsoft.gradient(enabled=false);filter:progid:dximagetransform.microsoft.gradient(startColorstr='#ffe200',endColorstr='#f0d400',GradientType=0);box-shadow:0 0 6px black}
.header-gcba:hover,.header-gcba:active,.header-gcba.active,.header-gcba.disabled,.header-gcba[disabled]{background-color:#f0d400;*background-color:#d6be00}
.header-gcba:active,.header-gcba.active{background-color:#bda700 \9}
.header-inner{padding-right:20px;padding-left:20px}
.header-gcba #logo{float:left;width:168px;height:30px;background:url(../img/logo.png)}
.header-gcba h2.slogan{float:right;margin-top:-4px;font-size:15px;letter-spacing:-1px}
.navbar{color:#535353;margin-bottom:0;overflow:visible}
/*.navbar-inner{min-height:40px;padding-right:20px;padding-left:20px;background-color:#313131;background-image:-moz-linear-gradient(top,#3c3c3c,#222);background-image:-ms-linear-gradient(top,#3c3c3c,#222);background-image:-webkit-gradient(linear,0 0,0 100%,from(#3c3c3c),to(#222));background-image:-webkit-linear-gradient(top,#3c3c3c,#222);background-image:-o-linear-gradient(top,#3c3c3c,#222);background-image:linear-gradient(top,#3c3c3c,#222);background-repeat:repeat-x;filter:progid:dximagetransform.microsoft.gradient(startColorstr='#3c3c3c',endColorstr='#222222',GradientType=0);-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);-moz-box-shadow:0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);box-shadow:0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1)}
*/
.navbar-fixed-top .navbar-inner,.navbar-static-top .navbar-inner{border-width:0}
.navbar-inverse .brand,.navbar-inverse .nav>li>a{color:white;text-shadow:0 -1px 0 rgba(0,0,0,0.25);-webkit-transition:color .2s ease-in-out}
.navbar-inverse .brand:hover,.navbar-inverse .nav>li>a:hover,.navbar-inverse .brand:focus,.navbar-inverse .nav>li>a:focus{color:#ffe200}
.navbar .nav>li>a{padding:20px 10px}
.navbar1{color:black;line-height:50px;background-color:#f9dd00}
.navbar1 h3{line-height:50px}
.branding-data{padding-top:10px;padding-bottom:10px;background-color:black;display:block;vertical-align:middle;position:relative;height:95px;overflow:hidden}
.branding-data h1{position:relative;color:white;padding-top:20px;font-size:45px;letter-spacing:-1px;line-height:16px;text-align:left;z-index:11}
.navbar-search{padding-top:15px}
.navbar-search .search-query,.navbar-search .search-query:focus,.navbar-search .search-query.focused{padding:15px 10px;font-size:15px;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
.branding-data .description{position:relative;z-index:11;margin-top:5px}
.branding-data h4, .branding-data h6{position:relative;padding-left:5px;font-weight:normal;font-size:11px;line-height:14px;display:block;heade color:white;padding-top:0;z-index:11}
.info-dataviz-container {position:absolute;width:100%;left:0;width:100%;top:300px;bottom: 0;}
.info-dataviz{position: absolute;bottom:30px;right:5%;margin-top:110px;background-color:rgba(255,255,255,0.1);display:block;z-index:11;color:#b0b0b0;padding:5px 15px;border:1px solid #666}
.info-dataviz h5{font-size:14px;line-height:10px;color:#00ccbe}
.info-dataviz p{font-size:11px;line-height:13px;color:#cacaca}
.info-dataviz small{display:block;font-size:10px;clear:both;color:#f1ebeb}
.social{margin:0;padding:0;list-style:none;padding-top:10px}
.social li{float:left;margin-right:5px;margin-top:3px}
.social li a{display:block;padding:8px;text-decoration:none;color:white;-webkit-transition:color .2s ease-in-out}
.social li a:hover{color:#ffe200}
.navbar3{background-color:#222;text-transform:uppercase}
textarea:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="date"]:focus,input[type="month"]:focus,input[type="time"]:focus,input[type="week"]:focus,input[type="number"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="color"]:focus,.uneditable-input:focus,.navbar-search .search-query:focus,.navbar-search .search-query.focused{border-color:rgba(255,213,15,0.8);outline:0;outline:thin dotted \9;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,213,15,0.6);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,213,15,0.6);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,213,15,0.6)}
[role=main] .primary{float:none;margin-left:0;width:100%}
[role=main] .secondary{width:100%;margin-left:0;float:none}
.primary>:last-child,.secondary>:last-child{margin-bottom:0}
.hero{background:url("../../../base/images/background-tile.png")}
.hero:after{background-color:rgba(0,0,0,0.09);background-image:-moz-linear-gradient(top,rgba(0,0,0,0.15),rgba(0,0,0,0));background-image:-ms-linear-gradient(top,rgba(0,0,0,0.15),rgba(0,0,0,0));background-image:-webkit-gradient(linear,0 0,0 100%,from(rgba(0,0,0,0.15)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(top,rgba(0,0,0,0.15),rgba(0,0,0,0));background-image:-o-linear-gradient(top,rgba(0,0,0,0.15),rgba(0,0,0,0));background-image:linear-gradient(top,rgba(0,0,0,0.15),rgba(0,0,0,0));background-repeat:repeat-x;background-color:transparent;top:7px;bottom:auto;height:5px}
select,textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],.uneditable-input{height:auto!important}
a:hover {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.datasets {
  list-style: none;
}

/* 

BASADO EN HACKDASH
Por Dan Z.

*/

.projects ul {
  margin: 0;
}



.well {
  font-family: "Helvetica Neue","Helvetica", sans-serif;
  min-height:                                           90px;
  margin-bottom:                                        30px;
  background-color:                       #ffffff !important;
  border:                                  1px solid #e4e4e4;
  border:                                                  0;
  border-radius:                                 0!important;
  -webkit-box-shadow:    inset 0 0px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow:       inset 0 0px 0px rgba(0, 0, 0, 0.2);
  box-shadow:            inset 0 0px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:          0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow:             0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow:                  0 1px 2px rgba(0, 0, 0, 0.2);
  padding:                                                 0;
  position: relative;
}

.well .cover {
  background: #000;
}

.well .cover img{
  opacity: 0.8;
        /* Firefox */
  -moz-transition: all 0.2s ease-in-out;
  /* WebKit */
  -webkit-transition: all 0.2s ease-in-out;
  /* Opera */
  -o-transition: all 0.2s ease-in-out;
  /* Standard */
  transition: all 0.2s ease-in-out;
}


.well:hover .cover img {
  opacity: 1
}
.well .avatar {
  width:32px;
  height: 32px;

}
.modal .well {
  margin: 0
}
.well-content {
  padding:15px;
}
.well-content img {
  border-radius: 50px;
  width: 48px;
  height: 48px;

}

.well-content img:hover {
  box-shadow: 0 0 6px #999;
}

.well h3 {
  margin:0 0 10px 0;
  font-size:             15px;
  font-weight:            700;
  color:                 #000;
  line-height:           18px;
  text-align:            left;
}

.well a {
  text-decoration: none;
}

.well p > a:hover {
  text-decoration: none;
}


.well p {
  color:#777;
}

.content .label {
  padding: 1px 6px;
  margin: 5px;
  text-transform: lowercase;
}


.well .row-fluid {
  border-top:#EEE 1px solid;
}

.project .well {
  border-top:10px solid grey;
}

.project {
margin-left: 15px;
width: 267px;
}

.isotope .project {
  cursor: pointer;
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

[data-icon]::before {
font-family:              'Entypo';
color:                        #000;
font-weight:        400 !important;
content:           attr(data-icon);
text-transform:               none;
position:                 relative;
top:                           3px;
font-size:                    30px;
line-height:                     0;
}



.content .page-container [class*="span"] :first-child {
  margin-left: 0px;
  margin-bottom: 0px;
}
.content .page-container [class*="span"] {
  margin-left: 0px;
  margin-bottom: 0px;
}

/*

TAGS

*/

.nav-tags-formats {
  padding-bottom: 36px;
}

.line {
  display: block;
  min-height: 60px;
  border-bottom: 1px solid #bcbcbc;
}

.tags {
  padding: 4px 30px 4px 8px;
  margin-bottom: 8px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: white;
  border: 1px solid #bcbcbc;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  color: #848484;
  display: inline-block;
  white-space: nowrap;
  font-weight: bold;
}

.tags p {
  font-size: 11px;
}

.tags .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 18px;
}

.tags-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #999999;
}

.tags[ckan-filter="res_format"] {
  background-color: #e5e5e5;
  border-color: #999999;
}

.tags-block {
  padding-top: 4px;
  padding-bottom: 4px;
}

.tags-block > p,
.tags-block > ul {
  margin-bottom: 0;
}

.tags-block p + p {
  margin-top: 5px;
}

.tags-status p {
  font-size: 12px;
  color: #7f7f7f;
  margin-left: 8px;
  margin-top: 8px;
}

.dropdown-menu>li>a{
  font-size: 11px;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  line-height: 18px;
  font-weight: bold;
  padding-top: 4px;
  padding-bottom: 4px;
  text-decoration: none;

}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-submenu:hover>a,
.dropdown-submenu:focus>a {
    text-decoration: none;
    color: #848484;
    background-color: #e5e5e5;
    background-image: -moz-linear-gradient(top, #e5e5e5, #e5e5e5);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e5e5e5), to(#e5e5e5));
    background-image: -webkit-linear-gradient(top, #e5e5e5, #e5e5e5);
    background-image: -o-linear-gradient(top, #e5e5e5, #e5e5e5);
    background-image: linear-gradient(to bottom, #e5e5e5, #e5e5e5);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ffe5e5e5', GradientType=0);
}

/*

TAGS

*/


.activity {
  padding: 6px;
  display: inline-block;
  border-right: 1px solid #EEE;
  text-align: center;
  margin:0!important;
  background: none;
}

.activity span {

  opacity: 0.2;
  /* Firefox */
  -moz-transition: all 0.3s ease;
  /* WebKit */
  -webkit-transition: all 0.3s ease;
  /* Opera */
  -o-transition: all 0.3s ease;
  /* Standard */
  transition: all 0.3s ease;
}

.activity span:hover {
  opacity: 0.5;
}

/* Secondary navigation */
.nav-secondary {
  margin-bottom: 20px;
  margin-top: -10px;
  padding-bottom: 0px;
}
.nav-secondary ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 12px;
  *zoom: 1;
}
.nav-secondary ul:before,
.nav-secondary ul:after {
  display: table;
  content: "";
  line-height: 0;
}
.nav-secondary ul:after {
  clear: both;
}
.nav-secondary li {
  float: left;
  display: block;
  position: relative;
  margin-right: 18px;
  margin-top: 10px;
}

.nav-secondary li:first-child {
  margin-right: 20px;
 }
.nav-secondary li:last-child {
  margin-right: 0;
}
.nav-secondary li .badge {
  position: absolute;
  top: -5px;
  right: -8px;
}
.nav-secondary a {
  display: block;
  text-align: center;
  padding: 5px;
  background-color: #f3f3f3;
  color: #949599;
  width: 90px;
  height: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  text-decoration: none;

}
.nav-secondary a span {
  display: block;
  font-size: 28px;
  font-weight: normal;
  line-height: normal;
  margin: 8px auto 0;
}
.nav-secondary a:hover,
.nav-secondary a.active {
/*  text-decoration: none;
  background-color: #33363b;
  color: #ffffff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);*/

-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.15),0 1px 0 rgba(255,255,255,0.6);
-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.15),0 1px 0 rgba(255,255,255,0.6);
box-shadow: inset 0 1px 2px rgba(0,0,0,0.15),0 1px 0 rgba(255,255,255,0.6);
background-color: rgba(0,0,0,0.07);

background-image: -webkit-linear-gradient(bottom,transparent,rgba(180,180,180,0.2));
background-image: -moz-linear-gradient(bottom,transparent,rgba(180,180,180,0.2));

color: #646464;
outline: 0;
}

.awe-group-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.nav-secondary.inverse a {
  background-color: #33363b;
  color: #ffffff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
.nav-secondary.inverse a:hover,
.nav-secondary.inverse .active a {
  background-color: #f3f3f3;
  color: #6F6F72;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

.beat-me {
  /*
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 -3px 0 rgba(0, 0, 0, 0.13) inset, 0 0 10px rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 -3px 0 rgba(0, 0, 0, 0.13) inset, 0 0 10px rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 -2px 0 rgba(0, 0, 0, 0.13) inset, 0 0 0px rgba(255, 255, 255, 0.3) inset, 0 1px 1px rgba(0, 0, 0, 0.2);
  */
}

.beat-me {
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.8),0 1px 1px rgba(0,0,0,0.25);
  background-image: -webkit-linear-gradient(top,transparent,rgba(0,0,0,0.05));
  background-image: -moz-linear-gradient(top,transparent,rgba(0,0,0,0.05));
}

/*  Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
    readers do not read off random characters that represent icons */

/*.
.awe-urbanismo-y-territorio
.awe-actividad-economicas
.awe-arte-cultura-y-recreacion
.awe-educacion
.awe-infraestructura-y-obras-publicas
.awe-seguridad-y-justicia
.awe-medio-ambiente-y-meteorologia
.awe-salud-y-servicios-sociales
.awe-administracion-publica-y-normativa
.awe-movilidad-trafico-y-transporte
*/

.icon-arte-cultura-y-recreacion:before, .icon-bill:before,
.icon-educacion:before, .icon-stats:before, .icon-seguridad-y-justicia:before,
.icon-medio-ambiente-y-meteorologia:before, .icon-plus-sign:before,
.icon-layers:before, .icon-plus:before, .icon-shield:before, .icon-bus:before,
.icon-infraestructura-y-obras-publicas:before, .icon-vimeo:before, .icon-twitter:before, .icon-github:before, .icon-urbanismo-y-territorio:before,
.icon-actividad-economicas:before, .icon-salud-y-servicios-sociales:before, .icon-administracion-publica-y-normativa:before, .icon-movilidad-trafico-y-transporte:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-arte-cultura-y-recreacion:before {
  content: "\21";
}
.icon-bill:before {
  content: "\22";
}
.icon-educacion:before {
  content: "\23";
}
.icon-stats:before {
  content: "\24";
}
.icon-seguridad-y-justicia:before {
  content: "\25";
}
.icon-medio-ambiente-y-meteorologia:before {
  content: "\26";
}
.icon-plus-sign:before {
  content: "\27";
}
.icon-layers:before {
  content: "\28";
}
.icon-plus:before {
  content: "\29";
}
.icon-shield:before {
  content: "\2a";
}
.icon-bus:before {
  content: "\2b";
}
.icon-infraestructura-y-obras-publicas:before {
  content: "\2c";
}
.icon-vimeo:before {
  content: "\2d";
}
.icon-twitter:before {
  content: "\2e";
}
.icon-github:before {
  content: "\2f";
}
.icon-urbanismo-y-territorio:before {
  content: "\30";
}
.icon-actividad-economicas:before {
  content: "\31";
}
.icon-salud-y-servicios-sociales:before {
  content: "\32";
}
.icon-administracion-publica-y-normativa:before {
  content: "\33";
}
.icon-movilidad-trafico-y-transporte:before {
  content: "\34";
}
/* Main content container */
.content {
  margin: 0 -1px;
  background-color: #fdfdfd;
  background-image: url("../img/bg_content.jpg");
  background-repeat: repeat;
  border: 1px solid #e0e0e0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.content + * {
  margin-top: 30px;
}
.content .page-container {
  margin: 30px 30px 10px;
}
.content .page-container.page-container {
  overflow: visible;
}
.content .page-container [class*="span"] {
  margin-bottom: 20px;
}
.content .page-container [class*="span"] [class*="span"] {
  margin-bottom: 0;
}
.content .page-container .row,
.content .page-container .thumbnails {
  margin-left: -20px;
}
.content .page-container .row .row,
.content .page-container .thumbnails .row {
  margin-left: -20px;
  *zoom: 1;
}
.content .page-container .row .row:before,
.content .page-container .thumbnails .row:before,
.content .page-container .row .row:after,
.content .page-container .thumbnails .row:after {
  display: table;
  content: "";
  line-height: 0;
}
.content .page-container .row .row:after,
.content .page-container .thumbnails .row:after {
  clear: both;
}
.content .page-container .row [class*="span"],
.content .page-container .thumbnails [class*="span"] {
  float: left;
  min-height: 1px;
  margin-left: 0px;
}
.content .page-container .row .container,
.content .page-container .thumbnails .container,
.content .page-container .row .navbar-static-top .container,
.content .page-container .thumbnails .navbar-static-top .container,
.content .page-container .row .navbar-fixed-top .container,
.content .page-container .thumbnails .navbar-fixed-top .container,
.content .page-container .row .navbar-fixed-bottom .container,
.content .page-container .thumbnails .navbar-fixed-bottom .container {
  width: 880px;
}
.content .page-container .row .span12,
.content .page-container .thumbnails .span12 {
  width: 880px;
}
.content .page-container .row .span11,
.content .page-container .thumbnails .span11 {
  width: 805px;
}
.content .page-container .row .span10,
.content .page-container .thumbnails .span10 {
  width: 730px;
}
.content .page-container .row .span9,
.content .page-container .thumbnails .span9 {
  width: 655px;
}
.content .page-container .row .span8,
.content .page-container .thumbnails .span8 {
  width: 580px;
}
.content .page-container .row .span7,
.content .page-container .thumbnails .span7 {
  width: 505px;
}
.content .page-container .row .span6,
.content .page-container .thumbnails .span6 {
  width: 430px;
}
.content .page-container .row .span5,
.content .page-container .thumbnails .span5 {
  width: 355px;
}
.content .page-container .row .span4,
.content .page-container .thumbnails .span4 {
  width: 280px;
}
.content .page-container .row .span3,
.content .page-container .thumbnails .span3 {
  width: 205px;
}
.content .page-container .row .span2,
.content .page-container .thumbnails .span2 {
  width: 130px;
}
.content .page-container .row .span1,
.content .page-container .thumbnails .span1 {
  width: 55px;
}
.content .page-container .row .offset12,
.content .page-container .thumbnails .offset12 {
  margin-left: 920px;
}
.content .page-container .row .offset11,
.content .page-container .thumbnails .offset11 {
  margin-left: 845px;
}
.content .page-container .row .offset10,
.content .page-container .thumbnails .offset10 {
  margin-left: 770px;
}
.content .page-container .row .offset9,
.content .page-container .thumbnails .offset9 {
  margin-left: 695px;
}
.content .page-container .row .offset8,
.content .page-container .thumbnails .offset8 {
  margin-left: 620px;
}
.content .page-container .row .offset7,
.content .page-container .thumbnails .offset7 {
  margin-left: 545px;
}
.content .page-container .row .offset6,
.content .page-container .thumbnails .offset6 {
  margin-left: 470px;
}
.content .page-container .row .offset5,
.content .page-container .thumbnails .offset5 {
  margin-left: 395px;
}
.content .page-container .row .offset4,
.content .page-container .thumbnails .offset4 {
  margin-left: 320px;
}
.content .page-container .row .offset3,
.content .page-container .thumbnails .offset3 {
  margin-left: 245px;
}
.content .page-container .row .offset2,
.content .page-container .thumbnails .offset2 {
  margin-left: 170px;
}
.content .page-container .row .offset1,
.content .page-container .thumbnails .offset1 {
  margin-left: 95px;
}
/* Containers */
.content .page-header {
  margin: 0;
  padding: 20px 30px;
  background-color: #fdfdfd;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  *zoom: 1;
}
.content .page-header:before,
.content .page-header:after {
  display: table;
  content: "";
  line-height: 0;
}
.content .page-header:after {
  clear: both;
}
.content .page-header h1 {
  line-height: 36px;
  float: left;
  margin: 0;
}
.content .page-header .page-header-actions {
  list-style: none;
  margin: 0;
  float: right;
  *zoom: 1;
}
.content .page-header .page-header-actions:before,
.content .page-header .page-header-actions:after {
  display: table;
  content: "";
  line-height: 0;
}
.content .page-header .page-header-actions:after {
  clear: both;
}
.content .page-header .page-header-actions li {
  display: block;
  float: left;
  margin-right: 5px;
}
.content .page-header .page-header-actions li:last-child {
  margin-right: 0;
}
.content .page-header .page-header-actions li.active .btn-wuxia.btn {
  background-color: #33363b;
  color: #ffffff;
}
.content .page-header .loading {
  float: right;
}
/* Typography */
.content .well {
  background-color: #f6f6f6;
  border: 1px solid #e0e0e0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.content .badge {
  padding: 1px 9px;
}
.content .center h2,
.content .center h3,
.content .center h4,
.content .center h5,
.content .center h6,
.content .center p {
  text-align: center;
}
.content .lead {
  color: #525252;
}
.content .hero-unit {
  margin-bottom: 0;
}

.full-screen {
  position: absolute;
  left: 0px;
  width: 100%;
  z-index: 100;
}