html{
  -webkit-font-smoothing:antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizelegibility;
}


::-webkit-scrollbar-thumb:vertical{width:10px;height:10px;background-color:#535353}
::-webkit-scrollbar{width:10px;height:5px;background:#000;margin-right:5px}

@font-face{font-family:'Gotham';src:url('/fonts/gotham.eot');src:url('/fonts/gotham.eot?#iefix') format('embedded-opentype'),url('/fonts/gotham.woff') format('woff'),url('/fonts/gotham.ttf') format('truetype'),url('/fonts/gotham.svg#Gotham-Medium') format('svg');font-weight:normal;font-style:normal}

@font-face {
  font-family: 'icomoon';
  src:url('/fonts/icomoon.eot');
  src:url('/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.woff') format('woff'),
    url('/fonts/icomoon.ttf') format('truetype'),
    url('/fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

a:hover,
a:active , a:focus{
  outline: none !important;
}

[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}


body {
color:#535353;
font-family:"Open Sans", "Helvetica Neue","Helvetica", sans-serif
}


a {
color: #262e39;
text-decoration: none;
}

header a {
color:#fff;
text-decoration:none
}

header a:hover {
color:#fff;
}

a:hover,a:focus {
color:#0B486B;
text-decoration:none
}

.text-center {
text-align:center
}

.text-left {
text-align:left
}

.text-right {
text-align:right
}


[role=main], .main, .information {
position: relative;
padding-top: 0px;
padding-bottom: 25px;
background-color: #efefef;
}

.main:after, .main:before, [role=main]:after, [role=main]:before {
content: "";
position: absolute;
left: 0;
right: 0;
height: 7px;
background: #ffffff;
border:none;
}
.gcba-fixed-top .container {
width:940px
}

.header-gcba {
height:30px;
padding:10px 0;
overflow:visible;
background-color:#f9dd00;
*background-color:#ffbd04;
background-image:-o-linear-gradient(top,#ffe603,#ffbd04);
background-image:linear-gradient(top,#ffe603,#ffbd04);
background-image:-ms-linear-gradient(top,#ffe603,#ffbd04);
background-image:-webkit-linear-gradient(top,#ffe603,#ffbd04);
background-image:-webkit-gradient(linear,0 0,0 100%,from(#ffe603),to(#ffbd04));
background-image:-moz-linear-gradient(top,#ffe603,#ffbd04);
background-repeat:repeat-x;
border-top:1px solid #fdfd00;
border-bottom:1px solid #ffc702;
filter:progid:dximagetransform.microsoft.gradient(enabled=false);
filter:progid:dximagetransform.microsoft.gradient(startColorstr='#ffe603',endColorstr='#ffbd04',GradientType=0);
box-shadow:0 0 6px #000
}
.header-gcba:hover,.header-gcba:active,.header-gcba.active,.header-gcba.disabled,.header-gcba[disabled] {
background-color:#ffbd04;
*background-color:#d6be00
}

.header-gcba:active,.header-gcba.active {
background-color:#bda700 \9
}

.header-inner {
padding-right:20px;
padding-left:20px
}

.header-gcba .logo {
float:left;
width:172px;
height:33px;
background:url(/img/logo-normal.png)
}

.header-gcba h2.slogan {
font-family:"Gotham","Helvetica Neue","Helvetica",sans-serif;
float:right;
margin-top:-4px;
font-size:15px;
letter-spacing:-1px;
color:#000
}

.header-gcba .logo,.header-gcba h2 {
-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
filter:alpha(opacity=70);
-moz-opacity:.7;
-khtml-opacity:.7;
opacity:.7
}

.navbar{color:#535353;margin-bottom:0;overflow:visible;font-family: "Open Sans", "Helvetica Neue","Helvetica", sans-serif; font-weight: 600;}
/*.navbar-inner{min-height:40px;padding-right:20px;padding-left:20px;background-color:#313131;background-image:-moz-linear-gradient(top,#3c3c3c,#222);background-image:-ms-linear-gradient(top,#3c3c3c,#222);background-image:-webkit-gradient(linear,0 0,0 100%,from(#3c3c3c),to(#222));background-image:-webkit-linear-gradient(top,#3c3c3c,#222);background-image:-o-linear-gradient(top,#3c3c3c,#222);background-image:linear-gradient(top,#3c3c3c,#222);background-repeat:repeat-x;filter:progid:dximagetransform.microsoft.gradient(startColorstr='#3c3c3c',endColorstr='#222222',GradientType=0);-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);-moz-box-shadow:0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);box-shadow:0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1)}
*/
.navbar-fixed-top .navbar-inner,.navbar-static-top .navbar-inner{border-width:0}
.navbar-inverse .brand,.navbar-inverse .nav>li>a{color: #ffffff;color: rgba(255,255,255,0.6);text-shadow:0 -1px 0 rgba(0,0,0,0.25);-webkit-transition:color .2s ease-in-out}
.navbar-inverse .brand:hover,.navbar-inverse .nav>li>a:hover,.navbar-inverse .brand:focus,.navbar-inverse .nav>li>a:focus{color:#ffbd04}
.navbar .nav>li>a{font-size:13px;padding:15px 10px}
.branding-data{margin-top: 100px;padding-top:10px;padding-bottom:10px;background-color:black;display:block;vertical-align:middle;position:relative;height:95px;overflow:hidden}
.branding-data h1{font-family:"Gotham", "Helvetica Neue","Helvetica", sans-serif;position:relative;color:white; font-weight: bold; padding-top:20px;font-size:55px;letter-spacing:-2px;line-height:16px;text-align:left;z-index:11;}
.branding-data h1 a {text-decoration: }
.navbar-search{padding-top:3px}
.navbar-search .fiso-search,.navbar-search .fiso-search:focus,.navbar-search .fiso-search.focused{padding:15px 10px;font-size:15px;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
.branding-data .description{position:relative;z-index:11;margin-top:5px}
.branding-data h4,
.branding-data h6{
  color: #ffffff;color: rgba(255,255,255,0.6); position:relative;
  padding-left:5px;font-weight:normal;font-size:14px;
  line-height:14px;display:block;color:white;padding-top:6px;z-index:11}
  .branding-data h6 {

    padding-top: 2px;

  }
.branding-data .title {
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
}

.info-dataviz-container {position:absolute;width:100%;left:0;width:100%;top:300px;bottom: 0;}
.info-dataviz{position: absolute;bottom:30px;right:5%;margin-top:110px;background-color:rgba(255,255,255,0.1);display:block;z-index:11;color:#b0b0b0;padding:5px 15px;border:1px solid #666}
.info-dataviz h5{font-size:14px;line-height:10px;color:#00ccbe}
.info-dataviz p{font-size:11px;line-height:13px;color:#cacaca}
.info-dataviz small{display:block;font-size:10px;clear:both;color:#f1ebeb}
.social{margin:0;padding:0;list-style:none;}
.social li{float:left;margin-right:5px;margin-top:9px}
.social li a{display:block;padding:8px;text-decoration:none;color:white;-webkit-transition:color .2s ease-in-out}
.social li a:hover{color:#ffbd04}
textarea:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="datetime"]:focus,
input[type="datetime-local"]:focus,input[type="date"]:focus,input[type="month"]:focus,input[type="time"]:focus,
input[type="week"]:focus,input[type="number"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="search"]:focus,
input[type="tel"]:focus,input[type="color"]:focus,.uneditable-input:focus,.navbar-search .fiso-search:focus,
.navbar-search .fiso-search.focused{border-color:rgba(255,213,15,0.8);outline:0;outline:thin dotted \9;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,213,15,0.6);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,213,15,0.6);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,213,15,0.6)}
[role=main] .primary{margin-top:20px;float:none;margin-left:0;width:100%}
[role=main] .secondary{width:100%;margin-left:0;float:none}
.primary>:last-child,.secondary>:last-child{margin-bottom:0}
.hero{background-image: none;}
.hero:after {
  background: none;
}


select,textarea,input[type="text"],input[type="password"],
input[type="datetime"],input[type="datetime-local"],
input[type="date"],input[type="month"],input[type="time"],
input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],
.uneditable-input{height:auto!important}
a:hover, a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.navbar-search .fiso-search {
  background-color: #ffffff;
  border: 0px;
}
.btn-group > .btn-large {font-size: 13px;padding: 5px 15px;}

.datasets {  list-style: none; }
.label {
  padding: 3px 7px;
  margin: 5px;
  text-transform: lowercase;
}


.tagbox .label[fiso-facet='tags']{
  background-color: #91dae3;
  -webkit-box-shadow: 0px 0px 8px 2px rgba(145,218,227, .2);
  -moz-box-shadow: 0px 0px 8px 2px rgba(145,218,227, .2);
  box-shadow: 0px 0px 8px 2px rgba(145,218,227, .2);
}
.tagbox .label[fiso-facet='res-format']{
  background-color: #f69f74;
  -webkit-box-shadow: 0px 0px 8px 2px rgba(246,159,116, .2);
  -moz-box-shadow: 0px 0px 8px 2px rgba(246,159,116, .2);
  box-shadow: 0px 0px 8px 2px rgba(246,159,116, .2)
}
.tagbox .label[fiso-facet='groups']{
  background-color: #76cbee;
  -webkit-box-shadow: 0px 0px 8px 2px rgba(118,203,238, .2);
  -moz-box-shadow: 0px 0px 8px 2px rgba(118,203,238, .2);
  box-shadow: 0px 0px 8px 2px rgba(118,203,238, .2);
}

.format-label {
  *margin-right: .3em;
  display: inline-block;
  vertical-align: text-bottom;
  position: relative;
  top: 2px;
  width: 16px;
  height: 16px;
  background-image: url("/img/sprite-resource-icons.png");
  background-repeat: no-repeat;
  background-position: 16px 16px;
  text-indent: -900em;
}

.format-label {
  width: 32px;
  height: 38px;
  background-position: 0px -62px;
}
.format-label[data-format=rdf],
.format-label[data-format*=rdf] {
  width: 32px;
  height: 38px;
  background-position: -32px -62px;
}
.format-label[data-format=pdf],
.format-label[data-format*=pdf] {
  width: 32px;
  height: 38px;
  background-position: -64px -62px;
}
.format-label[data-format=api],
.format-label[data-format*=api] {
  width: 32px;
  height: 38px;
  background-position: -96px -62px;
}
.format-label[data-format=zip],
.format-label[data-format*=zip] {
  width: 32px;
  height: 38px;
  background-position: -128px -62px;
}
.format-label[data-format=xls],
.format-label[data-format*=xls] {
  width: 32px;
  height: 38px;
  background-position: -160px -62px;
}
.format-label[data-format=csv],
.format-label[data-format*=csv] {
  width: 32px;
  height: 38px;
  background-position: -192px -62px;
}
.format-label[data-format=txt],
.format-label[data-format*=txt] {
  width: 32px;
  height: 38px;
  background-position: -224px -62px;
}
.format-label[data-format=xml],
.format-label[data-format*=xml] {
  width: 32px;
  height: 38px;
  background-position: -256px -62px;
}
.format-label[data-format=json],
.format-label[data-format*=json] {
  width: 32px;
  height: 38px;
  background-position: -288px -62px;
}
.format-label[data-format=html],
.format-label[data-format*=html] {
  width: 32px;
  height: 38px;
  background-position: -320px -62px;
}

.format-label[data-format=rss],
.format-label[data-format*=rss] {
  width: 32px;
  height: 38px;
  background-position: -384px -62px;
}


.dataset-metadata {
  margin-top: 10px;
}

.dataset-metadata p {
    display: inline-block;
    margin-bottom: 0px;
}

.dataset-metadata a.label {
  font-size: 10px;
  font-weight: bold;
  color: #bdc3c7;
  margin: 0;
  background-color: #ecf0f1;
  text-shadow: 0 0px 0 rgba(0, 0, 0, 0);
}

.dataset-metadata a.label:hover {
  color: #ffffff;
  background-color: #95a5a6;
}

.dataset-metadata a.label-format {
  color: white !important;
  background-color: #f69f74;
  background-color: rgba(246, 159,116,0.5) !important;
}

.dataset-metadata a.label-format:hover {
  background-color: #f69f74;
  background-color: rgba(246, 159,116,1) !important;
}

.dataset-metadata a.label-tags {
  color: white !important;
  background-color: #601286;
  background-color: rgba(96, 18, 134,0.5) !important;
}

.dataset-metadata a.label-tags:hover {
  background-color: #601286;
  background-color: rgba(96, 18, 134,1) !important;
}



.table {
  font-size: 12px;
}


a.label{
  text-decoration: none;
  font-family: "Open Sans", "Helvetica Neue","Helvetica", sans-serif;
  font-size: 12px;
  font-weight: bold;
}
a.download-link {
  color: grey;
  font-size: 10px;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 80px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -2px;
}
.jumbotron .lead {
  font-family:"Gotham", "Helvetica Neue","Helvetica", sans-serif;
  font-weight: bold;
  font-size: 16px;
  width: 450px;
  margin: 0 auto;
  line-height: 1.25;

}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}





.featured h2 {
  display: block;
  font-weight: normal;
  font-size: 25px;
  line-height: 24px;
  margin: 70px 10px 50px;
  border: none !important;
}

.featured .home {
  display: block;
  width: 537px;
  height: 386px;
  padding-top: 30px;
  padding-bottom: 90px;
}

.featured ul {
  list-style: none;
  margin: 0;
  font-size: 12px;
}
.featured li {
line-height:18px;
padding-left:10px
}

.featured li:last-child {
margin-bottom:20px
}



.news-feed, .datasets-feed {
  
  width: auto;
  margin-top: 180px;

}

.news-feed h5 {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}

.news-feed .span5, .news-feed .span10 {
  border-top: 1px solid #BCBCBC;
  font-family:"Open Sans", "Helvetica Neue","Helvetica", sans-serif !important;
  margin-top: 0px;
  display: block;
  padding: 10px;
  position: relative;
  color: #555;
  background-color: transparent;
/*  background-image: url("../img/bg_content.jpg");

  background-repeat: repeat;*/
}

.news-feed .span10 p {
  max-width: 800px;
  padding: 0;
  margin: 0;
}

.news-feed .span10 {
  margin-top: 5px;
}


.twitter .span6 {

  font-family:"Open Sans", "Helvetica Neue","Helvetica", sans-serif !important;

  margin-top: 0px;
  display: block;
  padding: 15px;
  margin-top: 120px;
  margin-bottom: 120px;
  padding-top: 50px;
  min-height: 200px;
  position: relative;
  background-color: #efefef;
  border-top: 1px solid #BCBCBC;
  border-bottom: 1px solid #BCBCBC;

  

}
.twitter .span6 > span {
width: 100%;
text-align: center;
margin: 0 auto;
display: block;
color: #BCBCBC;
margin-top: 15px;
padding-top: 20px;
}

.twitter .span6 > p {

  line-height: 25px;

 font-size: 20px !important;
  color: grey;
  display: table-cell; 
  vertical-align: middle; 
  text-align: center; 
}

.twitter .span6 a {

   display: none;
  
}

.news-feed .lead,.datasets-feed .lead {
margin-bottom: 20px;
font-size: 30px;
color: #272f3a;
line-height: 30px;
}



.ribbon-wrapper {
/*  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -5px;
  z-index: 9999;*/
}

.ribbon-type, .ribbon-date {
/*  font-size: 11px;
  font-weight: bold;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  position: relative;
  padding: 7px 0;
  left: -15px;
  display: block;
  padding-right: 5px;
padding-left: 70px;*/
}

.ribbon-type a {
  color: #ffffff;
text-shadow: none;
}

.ribbon-type, .ribbon-date{
font-size: 10px;
margin: 0;
font-weight: bold;

}




.lista-datasets, .lista-noticias {

}

.lista-datasets .datasets {
  margin: 0;
}

.lista-datasets .dataset, .news-item {
  width: 260px;
  display: inline-block;
}



.blog {
  background-color: white;
  /*background-image: -webkit-gradient(linear, left top, left bottom, from(#00A8C6), to(#40C0CB)); 
  background-image: -webkit-linear-gradient(top, #00A8C6, #40C0CB); 
  background-image:    -moz-linear-gradient(top, #00A8C6, #40C0CB); 
  background-image:     -ms-linear-gradient(top, #00A8C6, #40C0CB); 
  background-image:      -o-linear-gradient(top, #00A8C6, #40C0CB); */
  color: #666;
}

.evento {
  background-color: white;
/*  background-image: -webkit-gradient(linear, left top, left bottom, from(#F1D4AF), to(#ECE5CE)); 
  background-image: -webkit-linear-gradient(top, #F1D4AF, #ECE5CE); 
  background-image:    -moz-linear-gradient(top, #F1D4AF, #ECE5CE); 
  background-image:     -ms-linear-gradient(top, #F1D4AF, #ECE5CE); 
  background-image:      -o-linear-gradient(top, #F1D4AF, #ECE5CE); */
  color: #666;
}

.lab {
  background-color: white;
/*  background-image: -webkit-gradient(linear, left top, left bottom, from(#8FBE00), to(#ECE5CE)); 
  background-image: -webkit-linear-gradient(top, #8FBE00, #ECE5CE); 
  background-image:    -moz-linear-gradient(top, #8FBE00, #ECE5CE); 
  background-image:     -ms-linear-gradient(top, #8FBE00, #ECE5CE); 
  background-image:      -o-linear-gradient(top, #8FBE00, #ECE5CE); */
  color: #666;
}


/* 

BASADO EN HACKDASH
Por Dan Z.

*/

.projects ul {
  margin: 0;
}



.well, .news-item {
  font-family: "Open Sans", "Helvetica Neue","Helvetica", sans-serif;
  min-height:                                           90px;
  margin-bottom:                                        30px;
  background-color:                       #ffffff !important;
  border:                                  1px solid #e4e4e4;
  border:                                                  0;
  border-radius:                                 0!important;
  -webkit-box-shadow:    inset 0 0px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow:       inset 0 0px 0px rgba(0, 0, 0, 0.2);
  box-shadow:            inset 0 0px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:          0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow:             0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow:                  0 1px 2px rgba(0, 0, 0, 0.2);
  padding:                                                 0;
  position: relative;
}

.well .cover {
  background: #000;
}

.well .cover img{
  opacity: 0.8;
        /* Firefox */
  -moz-transition: all 0.2s ease-in-out;
  /* WebKit */
  -webkit-transition: all 0.2s ease-in-out;
  /* Opera */
  -o-transition: all 0.2s ease-in-out;
  /* Standard */
  transition: all 0.2s ease-in-out;
}


.well:hover .cover img {
  opacity: 1
}
.well .avatar {
  width:32px;
  height: 32px;

}
.modal .well {
  margin: 0
}
.well-content {
  padding:15px;
}
.well-content img {
  border-radius: 50px;
  width: 48px;
  height: 48px;

}

.well-content img:hover {
  box-shadow: 0 0 6px #999;
}

.well h3, .news-item h3 {
  margin:0 0 10px 0;
  font-size:             15px;
  font-weight:            700;
  color:                 #000;
  line-height:           16px;
  text-align:            left;
  max-width: 210px;

}

.well a {
  text-decoration: none;
}



.well p > a:hover {
  text-decoration: none;
  color: #bbb;
}

.well p > a{
  color: #ddd;
}

.well p {
  font-size: 12px;
  line-height: 14px;
  color:#777;
}




.well .row-fluid {
  border-top:#EEE 1px solid;
}

.project .well {
}

.project, .news-item {
margin-left: 15px;
width: 267px;
}

.project {
margin-left: 15px;
width: 267px;
}

.isotope .project {

  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}




.group-icon-list {
  position: absolute;
  right: 0;
  top: 7px;
  font-size: 14px;
  padding: 8px;
}

.group-icon {
  margin: 0px 2px;
}


.about h1 {
  font-size: 30px;
  letter-spacing: -1px;
  max-width: 70%;
  margin-bottom: 50px;
}

.about h3 {
  font-size: 18px;
  letter-spacing: -1px;
  line-height: 14px;
  margin-top: 25px;
}

.about p, .about li {
  max-width: 85%;
}

.about p:last-child {
  margin-bottom: 60px;
}

.about li {
  font-size: 12px;
  font-weight: normal;
  ma
}

/*

Vista Dataset

*/

h1.dataset-header > a {
  color: #666666;
}

h1.dataset-header > a:hover {
  text-decoration: underline;
}

.dataset-header {
  position: relative;
}

.social-share {
  margin-top: 25px;
}

.resource-item-view {
  position: absolute;
  right: 0px;
}


.module-content {
  font-family: "Open Sans", "Helvetica Neue","Helvetica", sans-serif;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 20px;
  padding-left: 0px;
}

.module-content:first-child {
  padding-top: 0px;
}

.module-content:last-child {
  padding-bottom: 0px;
}

.module-content h4 {
  display: block;
  padding-bottom: 20px;
  margin-bottom: 40px; 
  border-bottom: 1px solid #34495e;
}

.resource-list {
  margin: 0;
  list-style: none;
  margin: 0px;
}

.resource-item {
  position: relative;
  padding: 10px 10px 10px 60px;
  margin-bottom: 0px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.resource-item:hover {
  background-color: #efefef;
}
.resource-item .heading {
color: #000000;
font-size: 18px;
font-weight: normal;
margin-top: 15px;
display: inline-block;}

a.heading {
  text-decoration: underline;
}

a.heading:hover {
  text-decoration: none;
}

.resource-item .format-label {
  position: absolute;
  top: 27px;
  left: 10px;
}
.resource-item .description {
  font-size: 13px;
  margin-bottom: 0;
  padding-top: 5px;
}
.resource-item .btn-group {
  position: absolute;
  top: 13px;
  right: 10px;
}
.dataset-resource-form .dataset-form-resource-types {
  margin-bottom: 5px;
}
.dataset-form-resource-types .ckan-icon {
  position: relative;
  top: 3px;
}
.dataset-form-resource-types .radio {
  font-weight: normal;
  padding-left: 0;
  padding-right: 18px;
}
.dataset-form-resource-types label {
  position: relative;
}
.dataset-form-resource-types input[type=radio]:checked + label {
  font-weight: bold;
}
.dataset-form-resource-types input[type=radio]:checked + label:after {
  *margin-right: .3em;
  display: inline-block;
  vertical-align: text-bottom;
  position: relative;
  top: 2px;
  background-image: url("../../../base/images/sprite-ckan-icons.png");
  background-repeat: no-repeat;
  background-position: 16px 16px;
  width: 16px;
  height: 16px;
  background-position: -192px 0;
  display: block;
  content: "";
  position: absolute;
  top: auto;
  left: 0;
  bottom: -12px;
}

.banner-related {
  width: 80px;
  color: #ffffff;
  background: #707070;
  padding: 1px 20px;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
}

.resource-item [class^="icon-"], .resource-item [class*=" icon-"], .resource-item-view [class^="icon-"], .resource-item-view [class*=" icon-"] {
display: inline-block;
width: 14px;
height: 14px;
line-height: 14px;
vertical-align: text-top;
background-image: none;
background-position: 14px 14px;
background-repeat: no-repeat;
margin-top: 1px;}


.btn-mini {
padding: 2px 6px;
font-size: 10.5px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
margin-top: -4px;
}

.btn-mini i {
  font-size: 14px;
  margin-top: 0px;
}

.btn-resource {
color: #ffffff;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background-color: #95a5a6;
background-image: -moz-linear-gradient(top, #95a5a6, #7f8c8d);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#95a5a6), to(#7f8c8d));
background-image: -webkit-linear-gradient(top, #95a5a6, #7f8c8d);
background-image: -o-linear-gradient(top, #95a5a6, #7f8c8d);
background-image: linear-gradient(to bottom, #95a5a6, #7f8c8d);
background-repeat: repeat-x;
border-color: #7f8c8d #7f8c8d #bdc3c7;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff95a5a6', endColorstr='#ff7f8c8d', GradientType=0);
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn:hover, .btn:focus {
color: #333333;
text-decoration: none;
background-position: 0 -15px;
-webkit-transition: background-position 0.1s linear;
-moz-transition: background-position 0.1s linear;
-o-transition: background-position 0.1s linear;
transition: background-position 0.1s linear;
}

.btn-resource:hover, .btn-resource:focus, .btn-resource:active {
color: #ffffff;
background-color: #7f8c8d;
}

/*

Search Widget

*/

.line {
  display: block;
  min-height: 30px;
  padding-bottom: 10px;
  /*border-bottom: 1px solid #bcbcbc;*/
}

.tagbox li{
  list-style: none;
  list-style-type: none;
    font-size: 12px;
}

.tagbox .label {
  margin-right: 2px;
  margin-left: 2px;
}

.tagbox .tags {
  padding: 4px 20px 4px 8px;
  margin-bottom: 8px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: white;
  border: 1px solid #bcbcbc;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  color: #848484;
  display: inline-block;
  white-space: nowrap;
  font-weight: bold;
}

.tagbox .tags p {
  font-size: 11px;
}

.tagbox .tags .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 18px;
}

.tagbox .tags-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #999999;
}

.tagbox .tags[fiso-facet="res-format"] {
  background-color: #e5e5e5;
  border-color: #999999;
}

.tagbox .tags-block {
  padding-top: 4px;
  padding-bottom: 4px;
}

.tagbox .tags-block > p,
.tagbox .tags-block > ul {
  margin-bottom: 0;
}

.tagbox .tags-block p + p {
  margin-top: 5px;
}

.tagbox .tags-status p {
  font-size: 12px;
  color: #7f7f7f;
  margin-left: 8px;
  margin-top: 8px;
}

.tagbox .close {
float: right;
font-size: 11px;
font-weight: bold;
line-height: 8px;
color: #000000;
text-shadow: 0 1px 0 #ffffff;
opacity: 0.4;
margin: 2px 1px 0px 6px;
}

.tagbox .fiso-toggle-category {
  display:none;
}

.tagbox .fiso-toggle-category.selected {
  display: inline-block;
}

.tagbox .fiso-selector {
  position: relative;
  display: none;
}

.tagbox .fiso-selector.and, .tagbox .fiso-selector.or {
  display: list-item;
}

.tagbox .fiso-selector.fiso-no-selected{
  display: none;
}

.tagbox .fiso-selector span {
  
}

.tagbox .fiso-toggle-facet, .tagbox .fiso-clear-facet {

  color: #262e39;
    font-size: 15px;
    line-height: 10px !important;
    display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;

}

.tagbox .fiso-toggle-facet:hover, 
.tagbox .fiso-clear-facet:hover {
  color: #8f9092;
}

.tagbox .fiso-toggle-facet.and:before {
content: '\37';
right: 15px;
}

.tagbox .fiso-toggle-facet.or:before {
  content: '\39';
}

.tagbox .fiso-clear-facet:before {
 
  content: '\38';



}

.dropdown-menu>li>a{
  font-size: 12px;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  line-height: 20px;
  font-weight: bold;
  padding-top: 6px;
  padding-bottom: 6px;
  text-decoration: none;
  text-align: right;

}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-submenu:hover>a,
.dropdown-submenu:focus>a {
    text-decoration: none;
    color: #848484;
    background-color: #e5e5e5;
    background-image: -moz-linear-gradient(top, #e5e5e5, #e5e5e5);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e5e5e5), to(#e5e5e5));
    background-image: -webkit-linear-gradient(top, #e5e5e5, #e5e5e5);
    background-image: -o-linear-gradient(top, #e5e5e5, #e5e5e5);
    background-image: linear-gradient(to bottom, #e5e5e5, #e5e5e5);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ffe5e5e5', GradientType=0);
}

.information {
  padding: 20px 0px 0px 0px;
}



.tags-status {
  color: #ffffff;
  color: rgba(255,255,255,0.6);
  color: black;
  font-size: 14px;
  padding: 15px;
  padding-bottom: 0px;
  text-align: center;
}

.tags-status .fiso-total-visible {
  font-size: 29px;
}

.tags-status a {
  color: #333333;
  color: rgba(50,50,50,0.6);
  text-decoration: underline;
}

.tags-status small {
  font-size: 10px;
}

.toolbar {
  background-color: #262e39;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 30px 0 0px 0;
}

.toolbar nav > ul {
  list-style: none;
  list-style-type: none;
  min-height: 38px;
  padding: 0;
  margin: 0;
  margin-top: 0px;
  font-size: 12px;
  text-align: justify;
}

.toolbar nav > ul li, .toolbar nav > ul li > ul{
  display: inline;
  text-align: left; 
  margin-left:0px;
}

.toolbar nav > ul li.facet.groups ul li a {
  width: 40px;
  height: 40px;
  font-size: 25px;
  display: inline-block;
  color: #6e7379;
  text-decoration: none;
  font-weight: normal;
  line-height: normal;
}

.toolbar nav > ul li.facet.groups ul li a:hover,
.toolbar nav > ul li.facet.groups ul li a.active {
  color: #ffffff;
}

.toolbar nav ul li.facet.groups ul li:first-child {
  margin-left: 0;
}

.toolbar nav ul li.facet.groups ul li:last-child {
  margin-right: 0;
}

.toolbar nav ul li.facet.groups ul.no-actives li a{
  color: #ffffff;
}


.toolbar nav ul li.stretch {
    display: inline-block;
    width: 100%;
    *display: inline;
    zoom: 1
}

.toolbar nav ul li.action  {
  display: inline-block;
  text-align: right;
}

.toolbar nav ul li.action li button{
  margin-top: -25px;
}

.toolbar nav ul li.action ul.dropdown-menu{
  right: 0;
  left: auto; 
}

.toolbar nav ul li.action ul.dropdown-menu a {
  color: black;
}

.facet .btn-group {
margin-top: 12px;
}

.toolbar .facet .btn {
  border-color: #b7b7b7;

  line-height: 15px;
  height: 40px;
}

.toolbar .actions .btn-group li {
display: block;
margin-right: 0px;
}


.facet {
  margin-left: 5px;
}

.facet .btn-group li.fiso-toggle-category.and {
  display:none;
}

.facet .btn-group li.fiso-toggle-category.selectable {
  display:block;
}

.facet .no-options {
   pointer-events: none;
   cursor: default;
}

.action .facet .fiso-toggle-category.and {
  display:none;
}

.action .facet .fiso-toggle-category.and.available {
  display: block;
}

.action .facet.tags .fiso-toggle-category.or.selected {
  background-color: #91dae3;
}

.action .facet.formats .fiso-toggle-category.or.selected {
  background-color: #f69f74;
}

.action .facet .fiso-selector.and.fiso-no-available {
    pointer-events: none;
    cursor: default;
    background-image: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

}

.facet.groups .fiso-toggle-category.available {
  color: white;
}

.facet.groups .fiso-toggle-category.selected {
  color: white;
}

.tooltip {line-height: 1;}
.tooltip.top {margin-top: 0px;padding: 5px 0;}


/*

PACKAGE 

*/

.module {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none ;
  box-shadow: none;
  background-color: transparent !important;
  margin-bottom: 20px;
}

/*

Actividad

*/


.activity {
  padding: 6px;
  display: inline-block;
  text-align: left;
  margin:0!important;
  
  border: none;
  background-image: none;
}

.activity .item {
  position: relative;
  margin: 5px;
  padding: 10px;
  background-color: #efefef;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.activity .item a {
color: #000;
font-weight: bold;
}

.activity .item p {
font-size: 12px;
line-height: 16px;
margin: 5px 0 0 0;
}

.activity span {

  opacity: .7;
  /* Firefox */
  -moz-transition: all 0.3s ease;
  /* WebKit */
  -webkit-transition: all 0.3s ease;
  /* Opera */
  -o-transition: all 0.3s ease;
  /* Standard */
  transition: all 0.3s ease;
}

.activity span:hover {
  opacity: 1;
}

.activity .item .date {
  color: #000;
}


.nav-secondary.inverse a {
  background-color: #33363b;
  color: #ffffff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
.nav-secondary.inverse a:hover,
.nav-secondary.inverse .active a {
  background-color: #f3f3f3;
  color: #6F6F72;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

.related-item a {
  color: black;
}



.related-item .media-image  { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

.related-item .media-image img {
  opacity: 0.4;
}

.related-item .media-image img:hover {
  opacity: 0.1;
}


.related-item .media-image h3 { 
   position: absolute; 
   top: 10px; 
   left: 5px; 
   width: 100%; 
}

.related-item .media-image h3 a { 
  text-decoration: none;
}

.related-item .media-image p { 
   position: absolute; 
   top: 30px; 
   left: 5px; 
   width: 80%; 
}

/*

FONTS

*/

/*  Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
    readers do not read off random characters that represent icons */

/*.
.awe-urbanismo-territorio
.awe-actividad-economica
.awe-cultura-recreacion
.awe-educacion
.awe-infraestructura-obra-publica
.awe-seguridad
.awe-medio-ambiente
.awe-salud-servicios-sociales
.awe-administracion-publica-normativa
.awe-movilidad-transporte
*/

.icon-cultura-recreacion:before, .icon-bill:before,
.icon-educacion:before, .icon-stats:before, .icon-seguridad:before,
.icon-medio-ambiente:before, .icon-plus-sign:before,
.icon-layers:before, .icon-plus:before, .icon-shield:before, .icon-bus:before,
.icon-infraestructura-obra-publica:before, .icon-vimeo:before,
.icon-twitter:before, .icon-github:before, .icon-urbanismo-territorio:before,
.icon-actividad-economica:before, .icon-salud-servicios-sociales:before,
.icon-administracion-publica-normativa:before, .icon-movilidad-transporte:before,
.icon-dataset:before, .icon-apps:before, .icon-labs:before, .icon-viz:before, .tagbox .fiso-toggle-facet, .tagbox .fiso-clear-facet {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;/*
  font-size: 12px;*/
/*  -webkit-font-smoothing: antialiased;
  background: -webkit-linear-gradient(#92979d, #636770);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
}
.icon-cultura-recreacion:before {
  content: "\21";
}
.icon-educacion:before {
  content: "\22";
}
.icon-seguridad:before {
  content: "\30";
  font-size: 31px;
}
.icon-medio-ambiente:before {
  content: "\2f";
}
.icon-infraestructura-obra-publica:before {
  content: "\26";
}
.icon-vimeo:before {
  content: "\27";
}
.icon-twitter:before {
  content: "\31";
}
.icon-github:before {
  content: "\28";
}
.icon-urbanismo-territorio:before {
  content: "\29";
}
.icon-actividad-economica:before {
  content: "\32";
}
.icon-salud-servicios-sociales:before {
  content: "\2a";
}
.icon-administracion-publica-normativa:before {
  content: "\2b";
}
.icon-movilidad-transporte:before {
  content: "\2c";
}

.icon-viz:before {
  content: "\35";
  font-size: 16px;
  line-height: 9px;
  margin-left: 4px;
}



.icon-dataset:before {
  content: "\2e";
  font-size: 50px;
}

.icon-apps:before {
  content: "\2d";
  font-size: 50px;
}

.icon-labs:before {
  content: "\34";
  font-size: 50px;
}

.icon-seguridad, .icon-actividad-economica {
  margin: 0px auto 0 !important;
}

.nav-home {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  position: absolute;
  top: 0;
  margin-top: -45px;

  
}

.nav-home .span3 {
  -webkit-transition: all .2s ease-in-out;
}

.nav-home .span3:hover {
  color: #262e39;
}

.nav-home a {
  margin: 0 auto;
  display: block;
  padding: 5px;
  background-color: #f5f5f5;
  color: #949599;
  

  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  width: 90px;
  height: 90px;

  -webkit-transition: all .1s ease-in-out;

  text-decoration: none;


  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;

}




.nav-home a span {
  display: block;
  font-size: 15px;
  font-weight: normal;
  line-height: normal;
  margin: 20px 0 10px 20px;
}


.nav-home a:hover,
.nav-home a.active {
/*  text-decoration: none;
  background-color: #33363b;
  color: #ffffff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);*/


margin-top: -5px;
color: #262e39;
outline: 0;

background-color: #262e39;

}

.nav-home .dataset {
  background-color: #3498db;
}

.nav-home .apps {
  background-color: #EB6841;
}

.nav-home .labs {
  background-color: #1abc9c;
}

.nav-home h3 {
  font-size: 20px;
  line-height: 15px;
}

.nav-home p {
  font-weight: bold;
  font-size: 12px;
  line-height: 16px; 
  width: 160px;
  margin: 0 auto;

}

.nav-home .icon-dataset, .nav-home .icon-apps, .nav-home .icon-labs {

  color: #ffffff;
}

/* Main content container */
.content {
  margin: 0 -1px;
  background-color: #fdfdfd;
  background-image: url("../img/bg_content.jpg");
  background-repeat: repeat;
  border: 1px solid #e0e0e0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.content + * {
  margin-top: 30px;
}
.content .page-container {
  margin: 30px 30px 10px;
}
.content .page-container.page-container {
  overflow: visible;
}
.content .page-container [class*="span"] {
  margin-bottom: 20px;
}
.content .page-container [class*="span"] [class*="span"] {
  margin-bottom: 0;
}
.content .page-container .row,
.content .page-container .thumbnails {
  margin-left: -20px;
}
.content .page-container .row .row,
.content .page-container .thumbnails .row {
  margin-left: -20px;
  *zoom: 1;
}
.content .page-container .row .row:before,
.content .page-container .thumbnails .row:before,
.content .page-container .row .row:after,
.content .page-container .thumbnails .row:after {
  display: table;
  content: "";
  line-height: 0;
}
.content .page-container .row .row:after,
.content .page-container .thumbnails .row:after {
  clear: both;
}
.content .page-container .row [class*="span"],
.content .page-container .thumbnails [class*="span"] {
  float: left;
  min-height: 1px;
  margin-left: 0px;
}
.content .page-container .row .container,
.content .page-container .thumbnails .container,
.content .page-container .row .navbar-static-top .container,
.content .page-container .thumbnails .navbar-static-top .container,
.content .page-container .row .navbar-fixed-top .container,
.content .page-container .thumbnails .navbar-fixed-top .container,
.content .page-container .row .navbar-fixed-bottom .container,
.content .page-container .thumbnails .navbar-fixed-bottom .container {
  width: 880px;
}
.content .page-container .row .span12,
.content .page-container .thumbnails .span12 {
  width: 880px;
}
.content .page-container .row .span11,
.content .page-container .thumbnails .span11 {
  width: 805px;
}
.content .page-container .row .span10,
.content .page-container .thumbnails .span10 {
  width: 730px;
}
.content .page-container .row .span9,
.content .page-container .thumbnails .span9 {
  width: 655px;
}
.content .page-container .row .span8,
.content .page-container .thumbnails .span8 {
  width: 580px;
}
.content .page-container .row .span7,
.content .page-container .thumbnails .span7 {
  width: 505px;
}
.content .page-container .row .span6,
.content .page-container .thumbnails .span6 {
  width: 430px;
}
.content .page-container .row .span5,
.content .page-container .thumbnails .span5 {
  width: 355px;
}
.content .page-container .row .span4,
.content .page-container .thumbnails .span4 {
  width: 280px;
}
.content .page-container .row .span3,
.content .page-container .thumbnails .span3 {
  width: 205px;
}
.content .page-container .row .span2,
.content .page-container .thumbnails .span2 {
  width: 130px;
}
.content .page-container .row .span1,
.content .page-container .thumbnails .span1 {
  width: 55px;
}
.content .page-container .row .offset12,
.content .page-container .thumbnails .offset12 {
  margin-left: 920px;
}
.content .page-container .row .offset11,
.content .page-container .thumbnails .offset11 {
  margin-left: 845px;
}
.content .page-container .row .offset10,
.content .page-container .thumbnails .offset10 {
  margin-left: 770px;
}
.content .page-container .row .offset9,
.content .page-container .thumbnails .offset9 {
  margin-left: 695px;
}
.content .page-container .row .offset8,
.content .page-container .thumbnails .offset8 {
  margin-left: 620px;
}
.content .page-container .row .offset7,
.content .page-container .thumbnails .offset7 {
  margin-left: 545px;
}
.content .page-container .row .offset6,
.content .page-container .thumbnails .offset6 {
  margin-left: 470px;
}
.content .page-container .row .offset5,
.content .page-container .thumbnails .offset5 {
  margin-left: 395px;
}
.content .page-container .row .offset4,
.content .page-container .thumbnails .offset4 {
  margin-left: 320px;
}
.content .page-container .row .offset3,
.content .page-container .thumbnails .offset3 {
  margin-left: 245px;
}
.content .page-container .row .offset2,
.content .page-container .thumbnails .offset2 {
  margin-left: 170px;
}
.content .page-container .row .offset1,
.content .page-container .thumbnails .offset1 {
  margin-left: 95px;
}
/* Containers */
.content .page-header {
  margin: 0;
  padding: 20px 30px;
  background-color: #fdfdfd;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  *zoom: 1;
}
.content .page-header:before,
.content .page-header:after {
  display: table;
  content: "";
  line-height: 0;
}
.content .page-header:after {
  clear: both;
}
.content .page-header h1 {
  line-height: 36px;
  float: left;
  margin: 0;
}
.content .page-header .page-header-actions {
  list-style: none;
  margin: 0;
  float: right;
  *zoom: 1;
}
.content .page-header .page-header-actions:before,
.content .page-header .page-header-actions:after {
  display: table;
  content: "";
  line-height: 0;
}
.content .page-header .page-header-actions:after {
  clear: both;
}
.content .page-header .page-header-actions li {
  display: block;
  float: left;
  margin-right: 5px;
}
.content .page-header .page-header-actions li:last-child {
  margin-right: 0;
}
.content .page-header .page-header-actions li.active .btn-wuxia.btn {
  background-color: #33363b;
  color: #ffffff;
}
.content .page-header .loading {
  float: right;
}

.description h6 a, .info-dataviz h6 a {
  margin-right: 10px;
  color: #ffffff;
  color: rgba(255,255,255,0.5);
  text-transform: none;

  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.description h6 a:hover, .info-dataviz h6 a:hover {
  color: #e4e4e4;
  color: rgba(255,255,255,1);
}

.viewviz, .hideviz {
  font-size: 10px;
}

/* Typography */
/*.content .well {
  background-color: #f6f6f6;
  border: 1px solid #e0e0e0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}*/

.content .badge {
  padding: 1px 9px;
}
.content .center h2,
.content .center h3,
.content .center h4,
.content .center h5,
.content .center h6,
.content .center p {
  text-align: center;
}
.content .lead {
  color: #525252;
}
.content .hero-unit {
  margin-bottom: 0;
}


/***** mvs css ****/

.full-screen {
  margin-top: 0px;
  position: absolute;
  left: 0px;
  width: 100%;
  z-index: 100;
}

.main:after, .main:before, [role=main]:after, [role=main]:before {
content: "";
position: absolute;
left: 0;
right: 0;
height: 7px;
background: none;
border: none;
}


.site-footer {
  position: relative;
  *zoom: 1;
  color: #ffffff;
  padding: 5px 10px 3px;
  height: inherit;
  background-color: #333333;
  background-image: none;
  filter: none;
  font-size: 12px;
  padding: 20px 0;
}

.site-footer a {
  color: #ffbd04;
}
.footer-gcba .logo-invertido{float:left;width:172px;height:33px;background:url(/img/logo-invertido.png)}
.footer-gcba h2.slogan{float:right;margin-top:-4px;margin-bottom:0px;font-size:15px;letter-spacing:-1px; color: #fff}

.footer-info {
  display: block;
  margin-top: 30px;
}

.footer-info p, .footer-creditos p {
  text-align: center;
  font-family: "Gotham", _sans;
  font-size: 11px;
  line-height: 12px;
}


.footer-creditos {
  display: block;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #e4e4e4;
}

.footer-creditos a {
  display: block;
  margin: 0 auto;
  padding-top: 20px;
  padding-left: 100px;
}

.footer-creditos .ckan {
  display: block;
  height: 30px;
  background:url(/img/logo-ckan.png);
  background-position: center;
  background-repeat: no-repeat;
}

























    /* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */

    /* Carousel base class */
    .carousel {
      margin-bottom: 0px;
    }

    .carousel .container {
      position: relative;
      z-index: 0;
      
    }

    .carousel-control {
top: 50%;
font-size: 50px;
font-weight: 400;
line-height: 30px;

    }

    .carousel .item {
      height: 380px;
      color: #ffffff;
      text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
    }
    .carousel img {
      float: right;
      margin-right: 100px;
      margin-top: 25px;
    }

    .carousel-caption {
      position: static;
      padding: 0 20px;
      margin-top: 00px;
      background-color: transparent;
    }
    .carousel-caption h2,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }

    .carousel-caption h2 {
      font-size: 20px;
      margin-top: 100px;
    }

    .carousel-caption ul {
      list-style: none;
      margin: 0;
      margin-top: 30px;
      font-size: 12px;

    }



.feature-ckan {
  background-color: #262e39;
}


    /* MARKETING CONTENT
    -------------------------------------------------- */

    /* Center align the text within the three columns below the carousel */
    .marketing .span4 {
      text-align: center;
    }
    .marketing h2 {
      font-size: 30px;
      font-weight: normal;
    }
    .marketing .span4 p {
      margin-left: 10px;
      margin-right: 10px;
    }


    /* Featurettes
    ------------------------- */

    .featurette-divider {
      margin: 80px 0; /* Space out the Bootstrap <hr> more */
    }
    .featurette {
      padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
      overflow: hidden; /* Vertically center images part 2: clear their floats. */
    }
    .featurette-image {
      margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
    }

    /* Give some space on the sides of the floated elements so text doesn't run right into it. */
    .featurette-image.pull-left {
      margin-right: 40px;
    }
    .featurette-image.pull-right {
      margin-left: 40px;
    }

    /* Thin out the marketing headings */
    .featurette-heading {
      font-size: 50px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: -1px;
    }

