<div class="btn-group fiso-selector" fiso-facet="tags">
  <button class="btn btn-large dropdown-toggle" data-toggle="dropdown">
    <span>Tags</span> (<span class="fiso-counter-available"></span>) <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" fiso-facet="tags" fiso-category-creator>
      <li class="fiso-example"> <a href="#" tabindex="-1"></a> </li>
      <li class="divider"></li>
      <li> <a href="#" class="fiso-toggle-facet" fiso-facet="tags">Cambiar Operador</a> </li>
      <li> <a href="#" class="fiso-clear-facet" fiso-facet="tags">Limpiar</a> </li>
  </ul>
</div>