<div class="btn-group" ckan-facet="res_format">
  <button class="btn btn-large dropdown-toggle" data-toggle="dropdown">
    <span class="title">Formatos</span> <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
      <li class="divider"></li>
       <li  class="example" ckan-facet="res_format" ckan-category="" >
        <a href="#" tabindex="-1" ckan-facet="res_format" ckan-category=""></a>
      </li>
      <li><a href="#" ckan-facet="res_format" ckan-clear="true" class="action">{{ _('Clear All') }}</a></li>
  </ul>
</div>