<ul class="fiso-selector" fiso-facet="groups" >
   {% for item in h.groups_all()  %}
      <li >
          <a {% if c.pkg_dict %}{% for group in c.pkg_dict.groups %}{% if item == group.name %}class="active"{% endif %}{% endfor %}{% endif %}
             href="/dataset#groups_cats=.{{item}}."
             class="fiso-toggle-category" 
             fiso-facet="groups" fiso-category="{{item}}"

             >
            <span aria-hidden="true" class="icon-{{item}}"
              data-toggle="tooltip" title="" data-original-title="{{h.group_name_to_title(item)}}"
            ></span>
          </a>
        </li>
    {% endfor %} 
</ul>

