{#
Displays a single of dataset.

package        - A package to display.
item_class     - The class name to use on the list item.
hide_resources - If true hides the resources (default: false).
banner         - If true displays a popular banner (default: false).
truncate       - The length to trucate the description to (default: 180)
truncate_title - The length to truncate the title to (default: 80).

Example:

  {% snippet 'snippets/package_item.html', package=c.datasets[0] %}

#}
{% set truncate = truncate or 140 %}
{% set truncate_title = truncate_title or 80 %}
{% set title = package.title or package.name %}
{% set notes = h.markdown_extract(package.notes, extract_length=truncate) %}

{% set tag_items = package.tags %}
{% set format_items = h.dict_list_reduce(package.resources, 'format') %}
{% set group_items = package.groups %}

<li class="{{ item_class or 'dataset-item' }} 
{% for item in tag_items %}{{ item.name.replace(' ', '-') |lower}} {% endfor %} 
{% for item in format_items %}{{ item |lower}} {% endfor %} 
{% for item in group_items %}{{ item.name |lower}}{% endfor %} project"
ckan-tags="{{tag_items|join(',', 'name')|replace(' ', '-')}}"
ckan-groups="{{group_items|join(',', 'name')}}"
ckan-res_format="{{format_items|join(',')|lower}}"
>
  <div class="well">
    <div class="well-content">
      <div class="dataset-content">
        <h3 class="dataset-heading">
          <a href="{{h.url_for(controller='package', action='read', id=package.name)}}" class="title"> 
            {{h.truncate(title, truncate_title)}}   
          </a>
          {% for item in group_items %}
          <a href="/dataset#groups=.{{item.name|lower}}" ckan-facet="groups" ckan-category="{{item.name|lower}}" data-format="{{item.name|lower}}" class="pull-right group-icon">
            <span aria-hidden="true" class="icon-{{item.name|lower}}"></span>
          </a>
          {% endfor %}
          {% if package.get(state, '').startswith('draft') %}
            <span class="label label-info">{{ _('Draft') }}</span>
          {% elif package.get(state, '').startswith('deleted') %}
            <span class="label label-important">{{ _('Deleted') }}</span>
          {% endif %}
          {{ h.popular('recent views', package.tracking_summary.recent, min=10) if package.tracking_summary }}
        </h3>
        {% if banner %}
          <span class="banner">Popular</span>
        {% endif %}
        {% if notes %}
          <p>{{ notes|urlize }}</p>
        {% else %}
          <p class="empty">{{ _("This dataset has no description") }}</p>
        {% endif %}
        <div class="dataset-metadata">
          <p class="date last-modified">
            <a href="/dataset#sort=last_modified" class="label label-date" ckan-sort="last_modified" ckan-modified="{{package.metadata_modified}}" >{{ h.snippet('snippets/date.html', date_str=package.metadata_modified) }}
            </a>
          </p>

     
          {% set formats=h.dict_list_reduce(package.resources, 'format') %}
          {% for format in formats %}

           <a href="/dataset#res_format=.{{format|lower}}" ckan-filter="res_format" ckan-facet="{{format|lower}}" class="label label-format">
            <span>{{format|lower}}</span> 
            </a>
            {% endfor %}

        </div>
      </div>
    </div>
  </div>
</li>
