{#
Displays a single of dataset.

package        - A package to display.
item_class     - The class name to use on the list item.
hide_resources - If true hides the resources (default: false).
banner         - If true displays a popular banner (default: false).
truncate       - The length to trucate the description to (default: 180)
truncate_title - The length to truncate the title to (default: 80).

Example:

  {% snippet 'snippets/package_item.html', package=c.datasets[0] %}

#}
{% set truncate = truncate or 140 %}
{% set truncate_title = truncate_title or 80 %}
{% set title = package.title or package.name %}
{% set notes = h.markdown_extract(package.notes, extract_length=truncate) %}

{% set tag_items = package.tags %}
{% set format_items = h.dict_list_reduce(package.resources, 'format') %}
{% set group_items = package.groups %}

<li class="{{ item_class or "dataset-item" }} {% for item in tag_items %}{{ item.name }} {% endfor %} {% for item in format_items %}{{ item }} {% endfor %} {% for item in group_items %}{{ item.name }}{% endfor %} project">


  <div class="well">
     <div class="cover shadow"> </div>
     <div class="well-content">
        


  <div class="dataset-content">
    <h3 class="dataset-heading">

      <a href="{{h.url_for(controller='package', action='read', id=package.name)}}" class="title"> 
        {{h.truncate(title, truncate_title)}}   
      </a>

      {% if package.get(state, '').startswith('draft') %}
        <span class="label label-info">{{ _('Draft') }}</span>
      {% elif package.get(state, '').startswith('deleted') %}
        <span class="label label-important">{{ _('Deleted') }}</span>
      {% endif %}

      {{ h.popular('recent views', package.tracking_summary.recent, min=10) if package.tracking_summary }}
      
    </h3>
    {% if banner %}
      <span class="banner">Popular</span>
    {% endif %}
    {% if notes %}
    
     
      <p>{{ notes|urlize }}  </p>


    {% if package.tracking_summary %}
      <span class="total-view-count" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{package.tracking_summary.total}}">

        Cantidad de vistas.
      
      </span>
      {% endif %}
      <span class="last-modified" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{package.metadata_modified}}">

        Cantidad de vistas.

      </span>
       
     
    {% else %}
      <p class="empty">{{ _("This dataset has no description") }}</p>
    {% endif %}
  </div>

  </div>
 


     <div class="row-fluid">
        
           {% if package.resources and not hide_resources %}
    <ul class="dataset-resources unstyled">
      {% for resource in h.dict_list_reduce(package.resources, 'format') %}
        <li>
          <a href="#" ckan-filter="res_format" ckan-facet="{{resource}}" class="label" data-format="{{ resource.lower() }}">
            <span>{{ resource|lower }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

     </div>
  </div>


</li>
