{#
Displays a single related item.

related - The related item dict.
pkg_id  - The id of the owner package. If present the edit button will be
          displayed.

Example:



#}
{% set placeholder_map = {
'application':'/base/images/placeholder-application.png'
} %}
<li class="related-item media-item  media-vertical{% if first %} first{% endif %}{% if last %} last{% endif %}" data-module="related-item">
  <div class="well">
    <div class="cover shadow"> </div>
    <div class="well-content">

       




  <a href="{{ related.url }}">
   {#  <img class="image-normal"
      src="{{ related.image_url or placeholder_map[related.type] or '/base/images/placeholder-image.png' }}" alt="{{ related.title }}" /> #}
    <span class="dataset-metadata">
      {%- if related.type == 'application' -%}
        app
      {%- elif related.type == 'visualization' -%}
        viz
      {%- else -%}
        {{ related.type | replace('news_', '') }}
      {%- endif -%}
    </span>
    <h3 class="media-heading">
        {{ related.title }}
    </h3>
    <p class="prose">
        {% if related.description %} {{ h.render_markdown(related.description) }}{% endif %}
        </p>
  </a>




  <div class="media-content">
      
    
    {% if h.check_access('package_update', {'id':id }) %}
      {{ h.nav_link(_('Edit'), controller='related', action='edit', id=pkg_id, related_id=related.id, class_='btn btn-small') }}
    {% endif %}
  </div>

  </div>

  </div>



</li>
