<footer class="site-footer">
  <div class="container">
    {% block footer_content %}
    
    <div class="row">
      <div class="span5 offset3">
        <span class="footer-info">
          <p>Desarrollado por la Dirección General de Información y Gobierno Abierto en conjunto con la Dirección de Gobierno Electrónico.</p>
          <p>Gobierno de la Ciudad Autónoma de Buenos Aires.<br>Año 2013.</p>
        </span>
        <span class="footer-creditos">
          <p>Desarrollado con:<br><a href="http://ckan.org/" target="_blank" class="ckan">CKAN 2.5</a></p>
        </span>
      </div>
    </div>

    <div class="footer-gcba">
          <div class="container">
            <a href="http://buenosaires.gob.ar" target="_blank"><div class="logo-invertido"></div></a>
            <a href="http://www.buenosaires.gob.ar/modernizacion" target="_blank"><h2 class="slogan">Ministerio de Modernización</h2></a>
          </div>
    </div>

    {% endblock %}
  </div>

  {% block footer_debug %}
    {% if g.debug %}
      {% include 'snippets/debug.html' %}
    {% endif %}
  {% endblock %}
</footer>
