<footer class="site-footer">
  <div class="container">
    {% block footer_content %}
    
    <div class="row-fluid">
      <div class="span2 offset3 text-left">
        <a href="/specs">Especificaciones</a>
      </div>
      <div class="span2 text-center">
        <a href="/about">Buenos Aires Data</a>
      </div>
      <div class="span2 text-right">
        <a href="/tyc">Terminos y Condiciones</a>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span6 offset3">
        <span class="footer-creditos">
          <p>Desarrollado con:<br><a href="http://ckan.org/" target="_blank" class="ckan">CKAN 2.0</a></p>
        </span>
      </div>
    </div>
    <div class="row-fluid footer-gcba">
      <div class="span3">
        <a href="http://buenosaires.gob.ar" target="_blank"><div class="logo-invertido"></div></a>
      </div>
      <div class=" span3 offset6 text-right">
        <a href="http://www.buenosaires.gob.ar/modernizacion" target="_blank"><h2 class="slogan">Ministerio de Modernización</h2></a>
      </div>
    </div>


    {% endblock %}
  </div>

  {% block footer_debug %}
    {% if g.debug %}
      {% include 'snippets/debug.html' %}
    {% endif %}
  {% endblock %}
</footer>
