  {% extends "base.html" %}

{%- block page -%}
  {%- block header %}
    {% include "header.html" %}
  {% endblock -%}

  {%- block content %}
    {% block fullbody %}
      {% block toolbar %}
      <div class="toolbar">
        <div class="container">
          <div class="row">
            <div class="span12"> 
                <nav> 
                  <ul>
                    <li class="facet groups">{% include 'snippets/facet_group.html'  %}</li>
                    {% block actions %}<li class="action"><ul> {% block actions_content %} {% endblock %} </ul></li>{% endblock %}
                        <li class="stretch"></li>
                  </ul> 
                </nav>
            </div>
          </div>
        </div>
      </div>
        {% block info_toolbar %}
        <div class="information fiso-all fiso-all-no-categories fiso-all-no-query">

          <div class="container">
           
            <div class="row-fluid info">
              <div class="span10 tagbox">
                {% block tagbox %} {% endblock %} 
              </div>
              <div class="span2 tags-status">
                {% block toolbar_information %}{% endblock %}
              </div>
            </div>
          </div>
        </div>
        {% endblock %}
      {% endblock %}
    {% endblock %}
    
    {% block maintag %}<div role="main">{% endblock %}
      <div id="content" class="container">

        {% block main_content %}
          {% block flash %}
            {% set flash_messages = h.flash.pop_messages() | list %}
            <div class="flash-messages">
              {% for message in flash_messages %}
                <div class="alert fade in {{ message.category }}">
                  {{ h.literal(message) }}
                </div>
              {% endfor %}
            </div>
          {% endblock %}



            {% block secondary %}
              <div class="secondary">
                {% block secondary_content %}{% endblock %}
              </div>
            {% endblock %}

            {% block primary %}
              <div class="primary">
                    {% block primary_content %}{% endblock %}
              </div>
            {% endblock %}
        {% endblock %}
      </div>
    </div>
  {% endblock -%}

  {%- block footer %}
    {% include "footer.html" %}
  {% endblock -%}
{%- endblock -%}

{%- block scripts %}
  {{ super() }}
  <script type="text/javascript" src="/js/jquery.hoverIntent.minified.js"></script>
  <script type="text/javascript" src="/js/jquery.easing.js"></script>
  <script type="text/javascript" src="/js/header.js" ></script>
  <script type="text/javascript" src="/js/date.js"></script>
  
{% endblock -%}
