{% extends "base.html" %}

{%- block page -%}
  {%- block header %}
    {% include "header.html" %}
  {% endblock -%}

  {%- block content %}

    {% block fullbody %}
    {% endblock %}
    
    {% block maintag %}<div role="main">{% endblock %}
      <div id="content" class="container">

        {% block main_content %}
          {% block flash %}
            {% set flash_messages = h.flash.pop_messages() | list %}
            <div class="flash-messages">
              {% for message in flash_messages %}
                <div class="alert fade in {{ message.category }}">
                  {{ h.literal(message) }}
                </div>
              {% endfor %}
            </div>
          {% endblock %}

          {% block toolbar %}
          <div class="container toolbar">
            <div class="row">
              <div class="span9"> {% block toolbar_groups %} {% endblock %} </div>
              <div class="span3 toolbar">
                {% block actions %}
                <ul class="actions pull-right"> {% block actions_content %} {% endblock %} </ul>
                {% endblock %}
              </div>
            </div>
            <div class="row">
              <div class="span12 tagbox line inner"> {% block tagbox %} {% endblock %} </div>
            </div>
            <div class="row info">
              <div class="span12 tags-status">
                {% block toolbar_information %}{% endblock %}
              </div>
            </div>
          </div>
          {% endblock %}


            {% block secondary %}
              <div class="secondary">
                {% block secondary_content %}{% endblock %}
              </div>
            {% endblock %}

            {% block primary %}
              <div class="primary">
                    {% block primary_content %}{% endblock %}
              </div>
            {% endblock %}
        {% endblock %}
      </div>
    </div>
  {% endblock -%}

  {%- block footer %}
    {% include "footer.html" %}
  {% endblock -%}
{%- endblock -%}

{%- block scripts %}
  {{ super() }}
  <script type="text/javascript" src="/js/jquery.hoverIntent.minified.js"></script>
  <script type="text/javascript" src="/js/jquery.easing.js"></script>
  <script type="text/javascript" src="/js/header.js"></script>
  
{% endblock -%}
