{% extends "base.html" %}

{%- block page -%}
  {%- block header %}
    {% include "header.html" %}
  {% endblock -%}

  {%- block content %}
    {% block maintag %}<div role="main">{% endblock %}
      <div id="content" class="container">

        {% block main_content %}
          {% block flash %}
            {% set flash_messages = h.flash.pop_messages() | list %}
            <div class="flash-messages">
              {% for message in flash_messages %}
                <div class="alert fade in {{ message.category }}">
                  {{ h.literal(message) }}
                </div>
              {% endfor %}
            </div>
          {% endblock %}

          {% block toolbar %}
            <div class="toolbar">
              {% block breadcrumb %}
                {% if self.breadcrumb_content() | trim %}
                  <ol class="breadcrumb">
                    {% snippet 'snippets/home_breadcrumb_item.html' %}
                    {% block breadcrumb_content %}{% endblock %}
                  </ol>
                {% endif %}
              {% endblock %}
              {% block actions %}
                <ul class="actions pull-right">
                  {% block actions_content %}{% endblock %}
                </ul>
              {% endblock %}
            </div>
          {% endblock %}


            {% block secondary %}
              <aside class="secondary">
                {% block secondary_content %}{% endblock %}
              </aside>
            {% endblock %}

            {% block primary %}
              <div class="primary">
                <div class="content">
                  <!-- Page container -->
                  <div class="page-container">
                    {% block primary_content %}{% endblock %}
                  </div>
                  <!-- /Page container -->
                </div>
              </div>
            {% endblock %}
        {% endblock %}
      </div>
    </div>
  {% endblock -%}

  {%- block footer %}
    {% include "footer.html" %}
  {% endblock -%}
{%- endblock -%}

{%- block scripts %}
 
<script>document.getElementsByTagName('html')[0].className += ' js';</script>

<script type="text/javascript" src="/base/vendor/jquery.min.js"></script>

<script type="text/javascript" src="/base/vendor/jed.min.js"></script>
<script type="text/javascript" src="/base/vendor/select2/select2.min.js"></script>
<script type="text/javascript" src="/base/vendor/html5.min.js"></script>

<script type="text/javascript" src="/base/javascript/plugins/jquery.inherit.min.js"></script>
<script type="text/javascript" src="/base/javascript/plugins/jquery.proxy-all.min.js"></script>
<script type="text/javascript" src="/base/javascript/plugins/jquery.url-helpers.min.js"></script>
<script type="text/javascript" src="/base/javascript/plugins/jquery.date-helpers.min.js"></script>
<script type="text/javascript" src="/base/javascript/plugins/jquery.slug.min.js"></script>
<script type="text/javascript" src="/base/javascript/plugins/jquery.slug-preview.min.js"></script>
<script type="text/javascript" src="/base/javascript/plugins/jquery.truncator.min.js"></script>
<script type="text/javascript" src="/base/javascript/plugins/jquery.form-warning.min.js"></script>
<script type="text/javascript" src="/base/javascript/sandbox.min.js"></script>
<script type="text/javascript" src="/base/javascript/module.min.js"></script>
<script type="text/javascript" src="/base/javascript/pubsub.min.js"></script>
<script type="text/javascript" src="/base/javascript/client.min.js"></script>
<script type="text/javascript" src="/base/javascript/notify.min.js"></script>
<script type="text/javascript" src="/base/javascript/i18n.min.js"></script>
<script type="text/javascript" src="/base/javascript/main.min.js"></script>

<script type="text/javascript" src="/base/vendor/bootstrap/js/bootstrap-transition.min.js"></script>
<script type="text/javascript" src="/base/vendor/bootstrap/js/bootstrap-collapse.min.js"></script>
<script type="text/javascript" src="/base/vendor/bootstrap/js/bootstrap-modal.min.js"></script>
<script type="text/javascript" src="/base/vendor/bootstrap/js/bootstrap-alert.min.js"></script>
<script type="text/javascript" src="/base/vendor/bootstrap/js/bootstrap-tab.min.js"></script>
<script type="text/javascript" src="/base/vendor/bootstrap/js/bootstrap-button.min.js"></script>
<script type="text/javascript" src="/base/vendor/bootstrap/js/bootstrap-tooltip.min.js"></script>
<script type="text/javascript" src="/base/vendor/bootstrap/js/bootstrap-popover.min.js"></script>
<script type="text/javascript" src="/base/vendor/bootstrap/js/bootstrap-dropdown.min.js"></script>


{# <script type="text/javascript" src="/base/javascript/modules/select-switch.min.js"></script>
<script type="text/javascript" src="/base/javascript/modules/slug-preview.min.js"></script>
<script type="text/javascript" src="/base/javascript/modules/basic-form.min.js"></script>
<script type="text/javascript" src="/base/javascript/modules/confirm-action.min.js"></script>
<script type="text/javascript" src="/base/javascript/modules/api-info.min.js"></script>
<script type="text/javascript" src="/base/javascript/modules/autocomplete.min.js"></script>
<script type="text/javascript" src="/base/javascript/modules/custom-fields.min.js"></script>
<script type="text/javascript" src="/base/javascript/modules/related-item.min.js"></script>
<script type="text/javascript" src="/base/javascript/modules/data-viewer.min.js"></script>
<script type="text/javascript" src="/base/javascript/modules/resource-form.min.js"></script>
<script type="text/javascript" src="/base/javascript/modules/resource-upload-field.min.js"></script>
<script type="text/javascript" src="/base/javascript/modules/follow.min.js"></script>
<script type="text/javascript" src="/base/javascript/modules/popover-context.min.js"></script>
<script type="text/javascript" src="/base/javascript/modules/activity-stream.js"></script>
<script type="text/javascript" src="/base/javascript/modules/dashboard.min.js"></script>  #}









   {#  {% resource 'base/main' %}
    {% resource 'base/ckan' %}
    {% resource 'base/tracking.js' %} #}
    <script type="text/javascript" src="/js/jquery.hoverIntent.minified.js"></script>
  <script type="text/javascript" src="/js/jquery.easing.js"></script>
  <script type="text/javascript" src="/js/header.js"></script>
  <script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script> 
  <script type="text/javascript" src="/base/javascript/tracking.min.js"></script>
  {{ super() }}
{% endblock -%}
